---
layout: landing
title: "Trà Ngủ Ngon Bình Chi"
h1-title: "Trà Ngủ Ngon Bình Chi"
meta-title: "Trà Ngủ Ngon Bình Chi - An Thần - Dưỡng Tâm"
description: "Trà Ngủ Ngon có tác dụng an thần, tĩnh tâm, điều trị mất ngủ, rất thích hợp cho những người làm việc căng thẳng, người già hay mất ngủ do đau... Được sản xuất bởi CTCP Tân Bình Chi, là công trình nghiên cứu ứng dụng thực tiễn cao."
meta-description: "Trà Ngủ Ngon có tác dụng an thần, tĩnh tâm, điều trị mất ngủ, rất thích hợp cho những người làm việc căng thẳng, người già hay mất ngủ do đau... Được sản xuất bởi CTCP Tân Bình Chi, là công trình nghiên cứu ứng dụng thực tiễn cao."
meta-keywords: "trà ngủ ngon, uống trà ngủ ngon, trà ngủ ngon bình chi, trà thảo dược ngủ ngon, trà thảo mộc giúp dễ ngủ, trà nào giúp dễ ngủ, uống trà atiso giúp ngủ ngon, các loại thảo dược giúp dễ ngủ, các loại trà chữa bệnh mất ngủ, trà giúp ăn ngon ngủ ngon, mất ngủ uống trà gì, các loại trà giúp ngủ ngon, trà dưỡng tâm an thần có tốt không"
permalink: "/san-pham-old/"
published: false
sitemap: false
allow_search_engine: false
image: "media/images/homepage/hop-tra-ngu-ngon-binh-chi.jpg"
sort_order: 6
price: 120000
rating: 97
review_count: 169
has_review: true
sku: tra-ngu-ngon-binh-chi
is_featured: true
in_stock: true
special_price: 
ee_plus: 200
features:
  - Giúp an thần
  - Ngủ ngon giấc
  - Giấc ngủ sâu
  - Độ bền cao
  - Hỗ trợ điều trị suy nhược thần kinh, tĩnh tâm
  - Xua tan hồi hộp, lo âu, giấc ngủ chập chờn
---

		<!-- Inspiro Slider -->
        <div id="banner" class="inspiro-slider arrows-large arrows-creative dots-creative" data-height-xs="360">
            <!-- Slide 1 -->
            <div class="slide" style="background-image:url('{{ site.url }}/media/images/slider/banner-tra-ngu-ngon-binh-chi-1.jpg');">
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <h2>TRÀ NGỦ NGON BÌNH CHI</h2>
                        <button data-target="#modaltuvan" data-toggle="modal" href="#" type="button" class="btn btn-purple"><span class="btn-label"><i class="fa fa-check"></i></span>TƯ VẤN MIỄN PHÍ</button>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
            <!-- Slide 2 -->
            <div class="slide" style="background-image:url('{{ site.url }}/media/images/slider/banner-tra-ngu-ngon-binh-chi-2.jpg');">
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <h2>UY TÍN VẠN NIỀM TIN</h2>
                        <button href="#khachhang" type="button" class="btn btn-purple"><span class="btn-label"><i class="fa fa-check"></i></span>XEM NGAY</button>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->
        </div>
        <!--end: Inspiro Slider -->

        <!-- About us -->
        <section id="gioithieu">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <h4 style="text-align: center;">TRÀ NGỦ NGON BÌNH CHI</h4>
                        <h2 class="m-b-20">Chữa mất ngủ - Ngủ Ngon - Ngủ sâu giấc - Giảm stress.</h2>
                        <p class="lead" style="text-align: justify;">Bạn đã biết <strong>trà trị mất ngủ chưa</strong>? Khi mất ngủ cơ thể chúng ta sẽ rất mệt mỏi, bồn chồn, thiếu sức sống, ảnh hưởng rất lớn đến năng suất làm việc cũng như khả năng tiếp thu. <strong>Chữa bệnh mất ngủ</strong> bằng các loại trà như: trà hoa cúc, trà gừng, trà tâm sen, … là một phương pháp an toàn, hiệu quả và không lo tác dụng phụ.</p>
                        <center><a data-target="#modaltuvan" data-toggle="modal" href="#" class="btn btn-dark btn-outline btn-rounded center">Tư vấn bệnh mất ngủ</a></center>
                    </div>

                    <div class="col-md-6 col-md-offset-1 m-t-40">
                        <div class="row" style="text-align: justify;">
                            <!-- features box -->
                            <div class="col-md-6">
                                <div class="icon-box effect square medium color">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                                    </div>
                                    <h3 style="padding-top: 20px;">100% THIÊN NHIÊN</h3>
                                </div>
                                <p><strong>100% thảo dược Việt Nam</strong>, hoàn toàn tự nhiên, không tác dụng phụ. Sản phẩm dùng được cho trẻ em từ <strong>2 tuổi</strong>.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box effect square medium color">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                                    </div>
                                    <h3 style="padding-top: 20px;">HIỆU QUẢ TỨC THÌ</h3>
                                </div>
                                <p>Liệu trình điều trị rõ ràng, giúp <strong>ngủ ngon và sâu hơn</strong>, hiệu quả rõ rệt chỉ sau một thời gian ngắn sử dụng.</p>
                            </div>
        
                            <div class="col-md-6">
                                <div class="icon-box effect square medium color">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                                    </div>
                                    <h3 style="padding-top: 10px;">LIỆU TRÌNH ĐƠN GIẢN</h3>
                                </div>
                                <p><strong>Liệu trình riêng biệt</strong> tùy thuộc vào tình trạng sức khỏe và mức độ mất ngủ của người bệnh.</p>
                            </div>
        
                            <div class="col-md-6">
                                <div class="icon-box effect square medium color">
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                                    </div>
                                    <h3 style="padding-top: 10px;">KHÔNG GÂY MỆT MỎI</h3>
                                </div>
                                <p>Trà ngủ ngon Bình Chi giúp bạn <strong>không cảm thấy mệt mỏi</strong>, tỉnh táo và phục hồi sức khỏe sau khi tỉnh dậy.</p>
                            </div>
                            <!-- end: features box -->
                        </div>
                    </div>
                    <!-- end features box -->
                </div>
            </div>
        </section>
        <!-- end: About us -->

        <section id="thanhphan">
            <!--Team Carousel -->
            <!--Team members (Carousel with description) -->
            <div class="hr-title hr-long center"><abbr style="font-size: 18px;color: #0286a8;background-color: #fdc849;">THÀNH PHẦN CHÍNH TRÀ NGỦ NGON</abbr></div>
            <div class="container">
                <div class="carousel team-members team-members-shadow" data-arrows="false" data-margin="20" data-items="3" data-autoplay="true" data-autoplay-timeout="3000" data-loop="true">
                    
                    <div class="team-member">
                        <div class="team-image vienanh">
                            <img src="{{ site.url }}/media/images/sanpham/cay-vong-nem.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>VÔNG NEM</h3>
                            <div class="seperator seperator-small"></div>
                            <p><strong>Công dụng:</strong> Theo Đông y, lá vông có vị đắng nhạt, hơi chát, tính bình; có tác dụng ức chế hệ thần kinh trung ương, làm an thần, gây ngủ, hạ nhiệt, hạ huyết áp, co bóp các cơ, sát trùng...</p>
                        </div>
                    </div>
                    <div class="team-member">
                        <div class="team-image vienanh">
                            <img src="{{ site.url }}/media/images/sanpham/la-sen.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>LÁ SEN</h3>
                            <div class="seperator seperator-small"></div>
                            <p><strong>Công dụng:</strong> Lá sen cũng có các công dụng rất tốt mà ít người biết như an thần, trị mất ngủ…, trị sốt xuất huyết, ho ra máu… rất công hiệu.</p>
                        </div>
                    </div>
                    <div class="team-member">
                        <div class="team-image vienanh">
                            <img src="{{ site.url }}/media/images/sanpham/cay-lac-tien.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>LẠC TIÊN</h3>
                            <div class="seperator seperator-small"></div>
                            <p><strong>Công dụng:</strong> Theo Y học cổ truyền, Lạc tiên có vị ngọt, đắng tính mát có tác dụng an thần, thanh tâm, dưỡng can, thanh nhiệt, giải độc. Vì vậy lạc tiên được xem là 1 trong những dược liệu quý hàng đầu trong việc chữa mất ngủ, giúp giấc ngủ sâu, ngon giấc hơn.</p>
                        </div>
                    </div>
                    <div class="team-member vienanh">
                        <div class="team-image vienanh">
                            <img src="{{ site.url }}/media/images/sanpham/hoa-atiso-do1.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>ASTICO</h3>
                            <div class="seperator seperator-small"></div>
                            <p><strong>Công dụng:</strong> Theo Đông y, lá vông có vị đắng nhạt, hơi chát, tính bình; có tác dụng ức chế hệ thần kinh trung ương, làm an thần, gây ngủ, hạ nhiệt, hạ huyết áp, co bóp các cơ, sát trùng...</p>
                        </div>
                    </div>
                    <div class="team-member">
                        <div class="team-image vienanh">
                            <img src="{{ site.url }}/media/images/sanpham/cay-binh-voi.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>BÌNH VÔI</h3>
                            <div class="seperator seperator-small"></div>
                            <p><strong>Công dụng:</strong> Bình vôi chứa hoạt chất Rotudin giúp trấn kinh, bổ tim có tác dụng an thần, gây ngủ, chống co quắp, hạ huyết áp.</p>
                        </div>
                    </div>
                
                </div>
                <!--Team Carousel -->
            </div>
        </section>

        <!-- SERVICES -->
            <div class="container">
                <div class="col-md-12 col-sm-12 m-b-40 text-center">
                    <h2 class="m-b-20">VÌ SAO NÊN CHỌN TRÀ NGỦ NGON BÌNH CHI?</h2>
                    <p class="lead">Ưu điểm vượt trội của Trà Ngủ Ngon Tân Bình Chi với các phương pháp chữa bệnh mất ngủ trên thị trường!</p>
                </div>
                <div class="row" style="text-align: justify;">
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="0">
                        <div class="icon-box effect medium color border">
                            <div class="icon">
                                <a href="#"><i class="fa fa-check"></i></a>
                            </div>
                            <h3>NGUỒN GỐC THẢO DƯỢC</h3>
                            <p>Là bài thuốc Y Học Cổ Truyền độc đáo từ các thảo dược quý của Việt Nam. Thừa hưởng và phát huy tinh túy những công thức cổ truyền ưu việt.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="icon-box effect medium color border">
                            <div class="icon">
                                <a href="#"><i class="fa fa-check"></i></a>
                            </div>
                            <h3>AN TOÀN TUYỆT ĐỐI</h3>
                            <p>Đã được thử nghiệm lâm sàng và theo dõi trên nhiều bệnh nhân tại bệnh viện Quân Y 103 cho thấy kết quả rất hiệu quả trên bệnh nhân mất ngủ lâu năm, an toàn không tác dụng phụ.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="400">
                        <div class="icon-box effect medium color border">
                            <div class="icon">
                                <a href="#"><i class="fa fa-check"></i></a>
                            </div>
                            <h3>TIÊU CHUẨN CHẤT LƯỢNG</h3>
                            <p>Các dược liệu được nuôi trồng theo tiêu chuẩn GAP và được xử lí sạch trước khi sản xuất. Sản xuất theo công nghệ tiên tiến đạt tiêu chuẩn GMP- WHO.</p>
                        </div>
                    </div>

                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="600">
                        <div class="icon-box effect medium color border">
                            <div class="icon">
                                <a href="#"><i class="fa fa-check"></i></a>
                            </div>
                            <h3>TỐI ƯU SẢN XUẤT</h3>
                            <p>Sản phẩm hội tụ những thành phần nguyên liệu đặc biệt tác dụng chuyên sâu cùng công nghệ sản xuất hiện đại nhất.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="800">
                        <div class="icon-box effect medium color border">
                            <div class="icon">
                                <a href="#"><i class="fa fa-check"></i></a>
                            </div>
                            <h3>CHUYÊN GIA KHUYÊN DÙNG</h3>
                            <p>Được cấp phép của Bộ Y tế Việt Nam, được các chuyên gia, các nhà khoa học hàng đầu Việt Nam đánh giá cao hiệu quả và khuyên dùng.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="1000">
                        <div class="icon-box effect medium color border">
                            <div class="icon">
                                <a href="#"><i class="fa fa-check"></i></a>
                            </div>
                            <h3>THÀNH TỰU KHOA HỌC</h3>
                            <p>Trà Ngủ Ngon Bình Chi là thành quả của công trình nghiên cứu khoa học hết sức công phu bởi các Giáo sư, Phó Giáo Sư, Tiến Sĩ đầu ngành theo ngân sách nhà nước. Đây là công trình nghiên cứu khoa học có giá trị thực tiễn cao, áp dụng rộng rãi.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col-md-4" data-lightbox="gallery">
                    <a data-lightbox="gallery-item" class="img-responsive image-hover-zoom" href="{{ site.url }}/media/images/sanpham/cong-bo-san-pham-tra-ngu-ngon-binh-chi.jpg"><img class="img-responsive lazy center" src="{{ site.url }}/media/images/sanpham/cong-bo-san-pham-tra-ngu-ngon-binh-chi.jpg"></a>
                </div>
                <div class="col-md-4">
                    <div class="cardcustom card-custom">
                        <p style="margin: 20px 20px 0px 20px;text-align: justify;color: #0286a8;"><strong>Trà Ngủ Ngon Bình Chi</strong> đã qua tinh chế, đóng gói tiêu chuẩn của Cục An Toàn Thực Phẩm và được kiểm định chặt chẽ bởi các chuyên gia Bộ Y Tế nên rất an tâm khi sử dụng.</p>
                        <button type="button" class="btn btn-light btn-icon-holder btn-shadow btn-light-hover">Nhấn vào ảnh để phóng to<i class="fa fa-arrow-left"></i></button>
                    </div>
                    <div class="cardcustom card-custom">
                        <p style="margin: 20px 20px 0px 20px;text-align: justify;color: #0286a8;">Sản phẩm <strong>Trà Ngủ Ngon Bình Chi</strong> được các Giáo sư, Phó Giáo Sư, Tiến Sĩ đầu ngành Học viện Quân Y thử nghiệm nhiều lần trên lâm sàng và theo dõi trên bệnh nhân sử dụng trong nhiều năm.</p>
                        <button type="button" class="btn btn-light btn-icon-holder btn-shadow btn-light-hover">Nhấn vào ảnh để phóng to<i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive lazy center" src="{{ site.url }}/media/images/sanpham/nguyen-minh-chinh.jpg" alt="ảnh hộp trà ngủ ngon bình chi">
                    <p style="margin: 30px 20px 0px 30px;text-align: justify;color: #0286a8;">Công trình nghiên cứu độc quyền của PGS.TS Nguyễn Minh Chính</p>
                </div>
            </div>

        <!-- end: SERVICES -->

        <!-- Our numbers -->
        <section class="background-colored p-t-120 p-b-40">
            <div id="particles-js" class="particles"></div>
            <div class="container xs-text-center sm-text-center text-light">
                <div class="row">
                    <div class="col-md-9 p-b-40">
                        <h2 class="m-b-20">TRÀ NGỦ NGON BÌNH CHI - MÓN QUÀ SỨC KHỎE VÀ TINH THẦN TUYỆT VỜI NHẤT!</h2>
                        <p class="lead">Hơn 1500+ nhà thuốc phân phối TRÀ NGỦ NGON trên khắp toàn quốc.<br>
                        Đặt mua ngay hôm nay để có được giá cả tốt nhất cho bạn và người thân của mình!</p>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center">
                            <div class="counter text-large"> <span data-speed="1500" data-refresh-interval="12" data-to="5195" data-from="0" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p>KHÁCH HÀNG TIN TƯỞNG</p>
                            <a data-target="#modaltuvan" data-toggle="modal" href="#" type="button" class="btn btn-light btn-outline btn-rounded center">Tư vấn bệnh mất ngủ</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end: Our numbers -->


        <!-- REVIEWS -->
        <section id="khachhang" style="padding: 80px 0 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <h2 class="m-b-20">KHÁCH HÀNG ĐÁNH GIÁ</h2>
                        <div class="seperator seperator-medium"></div>
                        <p class="lead" style="text-align: justify;">Mỗi nhận xét của khách hàng là niềm vui của Tân Bình Chi. Chúng tôi tự hào mang lại những sản phẩm chất lượng nhất để nâng cao sức khỏe cộng đồng.</p>
                        <div class="progress-bar-container radius small title-up">
                            <div class="progress-bar" data-percent="100" data-delay="1000" data-type="%">
                                <div class="progress-title">NGỦ NGON GIẤC</div>
                            </div>
                        </div>
                        <div class="progress-bar-container radius small title-up">
                            <div class="progress-bar" data-percent="97" data-delay="1100" data-type="%">
                                <div class="progress-title">GIẤC NGỦ SÂU</div>
                            </div>
                        </div>
                        <div class="progress-bar-container radius small title-up">
                            <div class="progress-bar" data-percent="90" data-delay="1200" data-type="%">
                                <div class="progress-title">GIÚP AN THẦN</div>
                            </div>
                        </div>
                        <div class="progress-bar-container radius small title-up">
                            <div class="progress-bar" data-percent="85" data-delay="1300" data-type="%">
                                <div class="progress-title">XUA TAN HỒI HỘP, LO ÂU</div>
                            </div>
                        </div>
                        <div class="progress-bar-container radius small title-up">
                            <div class="progress-bar" data-percent="85" data-delay="1400" data-type="%">
                                <div class="progress-title">TĨNH TÂM</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <blockquote class="blockquote-color text-light" style="background-color: #0286a8;">
                            <p style="font-size: 20px;font-family: cursive;">Không chỉ mua hàng, họ còn khởi nghiệp thành công nhờ trở thành đại lý phân phối của chúng tôi!</p>
                            <small>Trở thành Đại lý phân phối của <cite>Tân Bình Chi</cite></small> 
                        </blockquote>
                        
                        <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1" data-animate-in="fadeIn" data-animate-out="fadeOut" data-arrows="false" data-autoplay="true" data-autoplay-timeout="3000" data-loop="true">

                            <!-- Testimonials item -->
                            <div class="testimonial-item" style="padding: 0 0;">
                                <img src="{{ site.url }}/media/images/sanpham/review/le-xuan-huong.jpg" alt="Lê Xuân Hường">
                                <p style="text-align: justify;">Mới đầu còn phân vân lựa chọn sản phẩm Trà Ngủ Ngon vì mình khá là kĩ tính trong việc dùng đồ uống. Tuy nhiên sau 2 tuần dùng sản phẩm Trà Ngủ Ngon Bình Chi mình đã bị thuyết phục hoàn toàn! Cám ơn Tân Bình Chi.</p>
                                <span>Lê Xuân Hường</span>
                                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                            </div>
                            <!-- end: Testimonials item-->
        
                            <!-- Testimonials item -->
                            <div class="testimonial-item" style="padding: 0 0;">
                                <img src="{{ site.url }}/media/images/sanpham/review/tran-ha.jpg" alt="Trần Hà">
                                <p style="text-align: justify;">Trà chưa cần biết ngon hay ko, nhưng với cách bán hàng và phục vụ khách hàng thì xứng đáng 5☆ nhé. Hàng ship rất nhanh. Mua hàng xong vẫn được các bạn gọi điện hỏi han, tư vấn. Trà thơm ngon và giọng nói trong điện thoại cũng rất ngọt ngào nữa. Lần sau sẽ vẫn tiếp tục ủng hộ Tân Bình Chi nhé!</p>
                                <span>Trần Hà</span>
                                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                            </div>
                            <!-- end: Testimonials item-->
        
                            <!-- Testimonials item -->
                            <div class="testimonial-item" style="padding: 0 0;">
                                <img src="{{ site.url }}/media/images/sanpham/review/le-gia.jpg" alt="Lê Gia">
                                <p style="text-align: justify;">Sau một thời gian nghiên cứu và chọn lựa sản phẩm, tôi cũng đã quyết định đầu tư và trở thành nhà phân phối của Tân Bình Chi. Sản phẩm đưa ra thị trường miền Nam thực sự mang lại rất nhiều hiệu quả và phản hồi rất tốt từ khách hàng!</p>
                                <span>Lê Gia</span>
                                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                            </div>
                            <!-- end: Testimonials item-->
        
                            <!-- Testimonials item -->
                            <div class="testimonial-item" style="padding: 0 0;">
                                <img src="{{ site.url }}/media/images/sanpham/review/ngan-nguyen.jpg" alt="Ngân Nguyễn">
                                <p style="text-align: justify;">Mình ở tận DakLak, Tân Bình Chi xa quá tít Hà nội,chưa bao giờ dc thấy tận mắt sờ tận tay nên do dự khi order lắm, nhưng sau khi nhận dc sự tư vấn tận tâm và nhiệt tình của đội ngũ Dược Sĩ mình quyết định lấy lun. Nhận dc thì ôi thôi, như một món quà mà Tân Bình Chi đã gửi tặng khách hàng vậy, k có từ nào để chê từ bao bì, cách đóng gói sản phẩm đến chất lượng.</p>
                                <span>Ngân Nguyễn</span>
                                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                            </div>
                            <!-- end: Testimonials item-->
        
                            <!-- Testimonials item -->
                            <div class="testimonial-item" style="padding: 0 0;">
                                <img src="{{ site.url }}/media/images/sanpham/review/thanh-anh.jpg" alt="Thanh Anh">
                                <p style="text-align: justify;">Mình thật sự rất thích Trà Ngủ Ngon Bình Chi, rất hy vọng các bạn vẫn duy trì được phong độ như hiện tại và có thể phát triển hơn nữa trong tương lai.</p>
                                <span>Thanh Anh</span>
                                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                            </div>
                            <!-- end: Testimonials item-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>PHẢN HỒI TỪ CÁC NHÀ THUỐC</h2>
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/videoseries?list=PLb1SRqa2_LDU50jQ6SAWz7bK0zZT-mfnk" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <h2>GIỚI THIỆU TRÀ NGỦ NGON</h2>
                        <iframe src="https://www.youtube.com/embed/pK8th-LHt8Q" width="500" height="281"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: REVIEWS -->

        <!-- Client logo -->
        <!--section class="text-center" id="giaidap">
            <div class="container">
                <div class="row">
                    <h2 class="m-b-20">GỬI CÂU HỎI TỚI CHUYÊN GIA TƯ VẤN</h2>
                    <p class="lead">Bạn đang có vướng mắc? Gửi ngay câu hỏi cho đội ngũ Dược sĩ của TÂN BÌNH CHI</p>
                    <div class="seperator"><i class="fa fa-diamond"></i></div>
                    <div class="col-md-6">
                        <h4 class="m-b-20">Gửi câu hỏi hoặc Đánh giá sản phẩm</h4>
    
                        <div class="contact-widget">
                            <div class="contact-form-result"></div>
            
                            <form class="contact-form" name="template-contactform" action="https://script.google.com/macros/s/AKfycbyFmQzMRmEyCC5_RsPz7yrFQDLCvf7evF7Hxq2yA1Kg5aguDtk/exec" role="form" method="post">
                                <div class="form-process"></div>
            
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="upper" for="name">Họ và Tên <small>*</small></label>
                                            <input type="text" class="form-control required" name="Họ và Tên" placeholder="Nhập họ và tên" id="name" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="upper" for="email">Địa chỉ Email <small>*</small></label>
                                            <input type="email" class="form-control required email" name="Email" placeholder="Nhập địa chỉ Email" id="email" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="upper" for="phone">Số Điện Thoại <small>*</small></label>
                                            <input type="text" class="form-control required" name="Số điện thoại" placeholder="Nhập số điện thoại" id="phone" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="upper" for="company">Vấn đề của bạn <small>*</small></label>
                                            <input type="text" class="form-control required" name="Bệnh lý" placeholder="Mô tả vấn đề" id="company" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="upper" for="comment">Mô tả chi tiết vấn đề <small>*</small></label>
                                            <textarea class="form-control required" name="Tình trạng" rows="9" placeholder="Nhập mô tả bệnh lý" id="comment" aria-required="true"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-center">
                                            <button class="btn btn-default btn-block" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;GỬI</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    <div class="col-md-5 col-md-offset-1">
                        <h4 class="m-b-20">Để lại bình luận</h4>
                        <div class="fb-comments" width="100%" data-href="https://www.facebook.com/trangungonbinhchi/" data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </section-->
        <!-- end: Client logo -->

        <!-- Pricing Table -->
        <section class="background-grey" id="banggia">
            <div class="hr-title hr-long center"><abbr style="font-size: 18px;color: #0286a8;background-color: #fdc849;">THÔNG TIN CHI TIẾT SẢN PHẨM</abbr> </div>

            <div class="container">
                <div class="product">
                    <div class="row m-b-40">
                        <div class="col-md-5">
                            <div class="product-image">
                                <!-- Carousel slider -->
                                <div class="carousel dots-inside dots-dark arrows-visible arrows-only arrows-dark" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay-timeout="2500" data-lightbox="gallery">
                                    <a href="{{ site.url }}/media/images/sanpham/hop-tra-ngu-ngon-binh-chi.jpg" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/hop-tra-ngu-ngon-binh-chi.jpg"><span class="product-hot">HOT</span></a>
                                    <a href="{{ site.url }}/media/images/sanpham/banner-tra-ngu-ngon-binh-chi-1.jpg" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/banner-tra-ngu-ngon-binh-chi-1.jpg"><span class="product-sale">HOT</span></a>
                                    <a href="{{ site.url }}/media/images/sanpham/banner-tra-ngu-ngon-binh-chi-2.jpg" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/banner-tra-ngu-ngon-binh-chi-2.jpg"><span class="product-sale">HOT</span></a>
                                    <a href="{{ site.url }}/media/images/sanpham/banner-tra-ngu-ngon-binh-chi-3.jpg" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/banner-tra-ngu-ngon-binh-chi-3.jpg"><span class="product-sale">HOT</span></a>
                                    <a href="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-1.png" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-1.png"><span class="product-sale">HOT</span></a>
                                    <a href="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-2.png" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-2.png"><span class="product-sale">HOT</span></a>
                                    <a href="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-3.png" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-3.png"><span class="product-sale">HOT</span></a>
                                    <a href="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-4.png" data-lightbox="image" title="Trà Ngủ Ngon Bình Chi"><img alt="Trà Ngủ Ngon Bình Chi" src="{{ site.url }}/media/images/sanpham/san-pham-tra-ngu-ngon-4.png"><span class="product-sale">HOT</span></a>
                                </div>
                                <!-- Carousel slider -->
                            </div>
                        </div>


                        <div class="col-md-7">
                            <div class="product-description">
                                <div class="product-title">
                                    <h2><a href="/san-pham/">TRÀ NGỦ NGON BÌNH CHI</a></h2>
                                </div>
                                <div class="product-price"><ins>120.000 <small>VNĐ</small></ins>
                                </div>
                                <div class="product-rate">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-reviews"><a href="#khachhang">5 khách hàng đánh giá</a>
                                </div>

                                <div class="seperator m-b-10"></div>
                                <p style="text-align: justify;">Trà thảo dược cao cấp <strong>Bình Chi Trà Ngủ Ngon</strong> là sự kết hợp của các loại hoa, thảo mộc quý có tác dụng rất tốt cho hệ thần kinh, đặc trị mất ngủ, điều hòa huyết áp và tim mạch, giúp trị các cơn đau đầu, stress, căng thẳng đầu óc, hỗ trợ điều trị đau tim, suy tim, huyết áp cao. Thích hợp với <strong>người cao tuổi và người thường xuyên làm việc căng thẳng, áp lực</strong>. Dùng thường xuyên giúp cho làn da khỏe đẹp và vóc dáng thon gọn.</p>
                                <div class="seperator m-t-20 m-b-10"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="text-center text-light">
                    <hr class="space">
                    <h2 class="heading-jumbo" data-animation="fadeInUp" style="color: #000 !important;">MUA NHIỀU - ƯU ĐÃI LỚN</h2>
                    <p class="lead" style="color: #000 !important;">Vui lòng gọi điện thoại tới <span class="label label-primary"><a href="tel:0939878282"><b>HOTLINE: 0939.87.82.82</b></a></span> hoặc <span class="label label-default">ĐẶT MUA</span><br>Chúng tôi sẽ liên hệ lại trong vòng 5'!</p>
                </div>
                <hr class="space">
                <div class="row">
                    <div class="pricing-table">
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInLeft">
                            <div class="plan">
                                <div class="plan-header">
                                    <h4>GIÁ BÁN LẺ</h4>
                                    <div class="plan-price" style="font-size: 50px;">120.000<sup>VNĐ</sup><span>/1 HỘP</span> </div>
                                    <a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn btn btn-light"><span><i class="fa fa-shopping-cart"></i>ĐẶT MUA</span></a> </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: 1 hộp</li>
                                        <!--li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInUp">
                            <div class="plan featured">
                                <div class="plan-header">
                                    <h4>LIỆU TRÌNH TỐT NHẤT</h4>
                                    <p class="text-muted"><span class="label label-success">MUA NHIỀU NHẤT</span></p>
                                    <div class="plan-price" style="font-size: 50px;">359.000<sup>VNĐ</sup><span>/bộ</span> </div>
                                    <a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn btn btn-dark"><span><i class="fa fa-shopping-cart"></i>MUA NGAY</span></a> </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: 3 hộp</li>
                                        <li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInRight">
                            <div class="plan">
                                <div class="plan-header">
                                    <h4>GIÁ BÁN ĐẠI LÝ</h4>
                                    <p class="text-muted"><span class="label label-danger">ƯU ĐÃI CAO</span></p>
                                    <div class="plan-price" style="font-size: 50px;">GIÁ<!--sup>VNĐ</sup--><span>/HỘP</span> </div>
                                    <a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn btn btn-light"><span><i class="fa fa-shopping-cart"></i>LIÊN HỆ</span></a> </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: > 4 hộp</li>
                                        <li><i class="fa fa-user"></i>Chiết khấu: XX%</li>
                                        <li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Pricing Table -->

        <!-- Contact -->
        <section id="datmua" class="p-b-200" style="background-image:url({{ site.url }}/media/images/sanpham/background-4.png); background-position:71% 22%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="m-b-10">MUA TRÀ NGỦ NGON BÌNH CHI</h2>
                                <p class="lead">ĐĂNG KÝ NGAY HÔM NAY ĐỂ NHẬN ĐƯỢC ƯU ĐÃI</p>
                                <p class="text-center"><button type="button" class="btn btn-purple"><span class="btn-label"><i class="fa fa-check"></i></span>Xem ưu đãi</button></p>
                            </div>
                            <div class="col-md-6 m-b-30">
                                <address>
                                <strong>VĂN PHÒNG GIAO DỊCH:</strong><br>
                                12 Khuất Duy Tiến<br>
                                Quận Thanh Xuân, TP. Hà Nội<br>
                            </address>
                                <abbr><strong>HOTLINE:</strong></abbr> <a href="tel:0939878282">093.987.8282</a><br>
                                <abbr><strong>Email:</strong></abbr> info@tanbinhchi.vn
                            </div>
                            <div class="col-md-6 m-b-30">
                                <address>
                                <strong>KHO SẢN XUẤT:</strong><br>
                                Vương Thừa Vũ<br>
                                Quận Đống Đa, TP. Hà Nội<br>
                            </address>
                                <abbr><strong>HOTLINE:</strong></abbr> <a href="tel:0847948866">08.4794.8866</a>
                                <br>
                                <abbr><strong>Email:</strong></abbr> darius@tanbinhchi.vn
                            </div>
                            <div class="col-md-12">
                                <h4>ĐẶT HÀNG QUA MẠNG XÃ HỘI</h4>
                                <div class="social-icons social-icons-light social-icons-colored-hover">
                                    <ul>
                                        <li class="social-facebook"><a href="https://www.facebook.com/tanbinhchi"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="https://twitter.com/tanbinhchi"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-youtube"><a href="https://www.youtube.com/channel/UCWA6MwK6ceXGoiulZ_B4j5w"><i class="fa fa-youtube"></i></a></li>
                                        <li class="social-instagram"><a href="https://www.instagram.com/tanbinhchi/"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="https://www.linkedin.com/in/tanbinhchi/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">

                        <div class="contact-widget">

                            <div class="contact-form-result"></div>

                            <form class="contact-form" name="template-contactform" action="https://script.google.com/macros/s/AKfycbyFmQzMRmEyCC5_RsPz7yrFQDLCvf7evF7Hxq2yA1Kg5aguDtk/exec" role="form" method="post">
                                <div class="form-process"></div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="name">Họ và Tên <small>*</small></label>
                                        <input type="text" aria-required="true" name="Họ và Tên" class="form-control required name" placeholder="Nhập họ và tên">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="email">Địa chỉ Email</label>
                                        <input type="email" aria-required="true" name="Email" class="form-control email" placeholder="Nhập địa chỉ Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <div class="form-group">
                                            <label class="upper" for="phone">Số Điện Thoại <small>*</small></label>
                                            <input type="text" class="form-control required" name="Số điện thoại" placeholder="Nhập số điện thoại" id="phone" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div class="form-group">
                                            <label class="upper" for="company">Số lượng <small>*</small></label>
                                            <input type="text" class="form-control required" name="Số lượng" placeholder="Nhập số lượng" id="Số lượng" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Địa chỉ <small>*</small></label>
                                    <textarea type="text" name="Địa chỉ" class="form-control required" placeholder="Nhập địa chỉ" aria-required="true"></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-light btn-block" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i> GỬI</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end: Contact -->

        <section>

            <div class="container">
                <h2 class="m-b-20" style="text-align: center;">VÌ SAO NÊN CHỌN TRÀ NGỦ NGON BÌNH CHI?</h2>
                <div class="seperator seperator-medium"></div>
                <!-- CATEGORIES -->
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/benh-mat-ngu/"><h4 class="widget-title-custom"><custom>BỆNH MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.benh-mat-ngu limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
    
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/dieu-tri-mat-ngu/"><h4 class="widget-title-custom"><custom>PHƯƠNG PHÁP TRỊ MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.dieu-tri-mat-ngu limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/mat-ngu-sau-sinh/"><h4 class="widget-title-custom"><custom>PHỤ NỮ MẤT NGỦ SAU SINH</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.mat-ngu-sau-sinh limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- end: CATEGORIES -->
                <div class="text-center">
                    <a href="{{ site.url }}/tin-tuc/"><button type="button" class="btn btn-light btn-creative btn-icon-holder btn-shadow btn-light-hover">Xem nhiều thông tin hơn<i class="fa fa-arrow-right"></i></button></a>
                </div>
            </div>
            
        </section>