---
layout: landing
title: "Trà Ngủ Ngon Bình Chi"
h1-title: "Trà Ngủ Ngon Bình Chi"
meta-title: "Trà Ngủ Ngon Bình Chi - An Thần - Dưỡng Tâm"
description: "Trà Ngủ Ngon có tác dụng an thần, tĩnh tâm, điều trị mất ngủ, rất thích hợp cho những người làm việc căng thẳng, người già hay mất ngủ do đau... Được sản xuất bởi CTCP Tân Bình Chi, là công trình nghiên cứu ứng dụng thực tiễn cao."
meta-description: "Trà Ngủ Ngon có tác dụng an thần, tĩnh tâm, điều trị mất ngủ, rất thích hợp cho những người làm việc căng thẳng, người già hay mất ngủ do đau... Được sản xuất bởi CTCP Tân Bình Chi, là công trình nghiên cứu ứng dụng thực tiễn cao."
meta-keywords: "trà ngủ ngon, uống trà ngủ ngon, trà ngủ ngon bình chi, trà thảo dược ngủ ngon, trà thảo mộc giúp dễ ngủ, trà nào giúp dễ ngủ, uống trà atiso giúp ngủ ngon, các loại thảo dược giúp dễ ngủ, các loại trà chữa bệnh mất ngủ, trà giúp ăn ngon ngủ ngon, mất ngủ uống trà gì, các loại trà giúp ngủ ngon, trà dưỡng tâm an thần có tốt không"
permalink: "/san-pham/"
published: true
sitemap: true
image: "media/images/homepage/hop-tra-ngu-ngon-binh-chi.jpg"
sort_order: 6
price: 120000
rating: 97
review_count: 169
has_review: true
sku: tra-ngu-ngon-binh-chi
is_featured: true
in_stock: true
special_price: 
ee_plus: 200
features:
  - Giúp an thần
  - Ngủ ngon giấc
  - Giấc ngủ sâu
  - Độ bền cao
  - Hỗ trợ điều trị suy nhược thần kinh, tĩnh tâm
  - Xua tan hồi hộp, lo âu, giấc ngủ chập chờn
---

        <!-- SECTION IMAGE FULLSCREEN -->
        <section class="parallax text-light thanhphan" style="height: 100%; background: url('{{ site.url }}/media/images/sanpham/bg-banner.jpg');background-repeat: no-repeat;background-size: cover;overflow: visible;z-index: auto;" data-stellar-background-ratio="0.5" id="gioithieu">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-6 col-md-offset-1" data-animation="fadeInUp" data-animation-delay="700">
                        <div class="m-b-40 center" style="margin-top: 25px;">
                            <h2 class="p1"><div style="font-size: 40px;">GIẢI PHÁP ĐẾN TỪ THIÊN NHIÊN</div></h2>
                            <h1><span class="p1" style="background-color: #fdc949;padding: 0px 15px 0px 15px;text-align: center !important;color: #103f5d !important;">Chữa mất ngủ - Ngủ sâu giấc - Giảm stress</span></h1>
                            <hr class="space">
                            <p style="font-size: 17px;line-height: 1.5;">
                                Bạn đã biết trà trị mất ngủ chưa?<br><br>
                                Chữa bệnh mất ngủ bằng các tinh túy thảo mộc thiên nhiên là một phương pháp an toàn, hiệu quả lâu dài và không lo tác dụng phụ.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5" style="height:400px">
                        <div class="image-absolute" data-animation="fadeInRight" data-animation-delay="800">
                            <img class="img-responsive lazy center" src="{{ site.url }}/media/images/sanpham/hop-tra.jpg" alt="ảnh hộp trà ngủ ngon bình chi">
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- end: SECTION IMAGE FULLSCREEN -->


        <section style="background: url('{{ site.url }}/media/images/sanpham/bg-thanhphan1.jpg');background-repeat: no-repeat;background-size: cover;overflow: visible;z-index: auto;padding: 40px 0;" data-stellar-background-ratio="0.5" id="thanhphan">
            <!--Team Carousel -->
            <!--Team members (Carousel with description) -->
            
            <div class="container">
                <div style="background-color: #092437;padding: 35px 30px 10px 30px;border-radius: 50px;border-color: #fdc949;border-width: 1px;border-style: solid;margin: -70px 0 0 0;" data-animation="fadeInUp">
                    <h2 class="p2 center"><div style="font-size: 40px;color: #fdc949;">THÀNH PHẦN TRÀ NGỦ NGON</div></h2>
                    <div class="carousel team-members" data-arrows="false" data-dots="false" data-margin="10" data-items="5" data-autoplay="true" data-autoplay-timeout="3000" data-loop="true">
                        <div class="team-member" style="background-color: #ffffff00;">
                            <div class="team-image vienanh">
                                <img src="https://trangungon.com/media/images/sanpham/cay-binh-voi.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="color: #fff;">BÌNH VÔI</h3>
                                <div class="seperator seperator-small"></div>
                                <p style="color: #fff;"><strong>Công dụng:</strong> Bình vôi chứa hoạt chất Rotudin giúp trấn kinh, bổ tim có tác dụng an thần, gây ngủ, chống co quắp, hạ huyết áp.</p>
                            </div>
                        </div>
                        <div class="team-member" style="background-color: #ffffff00;">
                            <div class="team-image vienanh">
                                <img src="https://trangungon.com/media/images/sanpham/cay-vong-nem.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="color: #fff;">VÔNG NEM</h3>
                                <div class="seperator seperator-small"></div>
                                <p style="color: #fff;"><strong>Công dụng:</strong> Theo Đông y, lá vông có vị đắng nhạt, hơi chát, tính bình; có tác dụng ức chế hệ thần kinh trung ương, làm an thần, gây ngủ, hạ nhiệt, hạ huyết áp, co bóp các cơ, sát trùng...</p>
                            </div>
                        </div>
                        <div class="team-member" style="background-color: #ffffff00;">
                            <div class="team-image vienanh">
                                <img src="https://trangungon.com/media/images/sanpham/la-sen.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="color: #fff;">LÁ SEN</h3>
                                <div class="seperator seperator-small"></div>
                                <p style="color: #fff;"><strong>Công dụng:</strong> Lá sen cũng có các công dụng rất tốt mà ít người biết như an thần, trị mất ngủ…, trị sốt xuất huyết, ho ra máu… rất công hiệu.</p>
                            </div>
                        </div>
                        <div class="team-member" style="background-color: #ffffff00;">
                            <div class="team-image vienanh">
                                <img src="https://trangungon.com/media/images/sanpham/cay-lac-tien.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="color: #fff;">LẠC TIÊN</h3>
                                <div class="seperator seperator-small"></div>
                                <p style="color: #fff;"><strong>Công dụng:</strong> Theo Y học cổ truyền, Lạc tiên có vị ngọt, đắng tính mát có tác dụng an thần, thanh tâm, dưỡng can, thanh nhiệt, giải độc. Vì vậy lạc tiên được xem là 1 trong những dược liệu quý hàng đầu trong việc chữa mất ngủ, giúp giấc ngủ sâu, ngon giấc hơn.</p>
                            </div>
                        </div>
                        <div class="team-member" style="background-color: #ffffff00;">
                            <div class="team-image vienanh">
                                <img src="https://trangungon.com/media/images/sanpham/hoa-atiso-do1.jpg">
                            </div>
                            <div class="team-desc">
                                <h3 style="color: #fff;">ASTICO</h3>
                                <div class="seperator seperator-small"></div>
                                <p style="color: #fff;"><strong>Công dụng:</strong> Theo Đông y, lá vông có vị đắng nhạt, hơi chát, tính bình; có tác dụng ức chế hệ thần kinh trung ương, làm an thần, gây ngủ, hạ nhiệt, hạ huyết áp, co bóp các cơ, sát trùng...</p>
                            </div>
                        </div>
                    
                    </div>
                    <!--Team Carousel -->
                </div>
            </div>

            <hr class="space">

            <div class="container">
                <div class="col-md-12 col-sm-12 m-b-40 text-center" data-animation="fadeInUp" data-animation-delay="200">
                    <div class="bgtitle">
                        <h2 class="p1"><div class="bgtitle1">VÌ SAO NÊN CHỌN TRÀ NGỦ NGON BÌNH CHI</div></h2>
                    </div>
                    <div class="p-t-40 lead" style="color: #fdc949">Ưu điểm vượt trội của Trà Ngủ Ngon Tân Bình Chi với các phương pháp chữa bệnh mất ngủ trên thị trường!</div>
                </div>
                <div class="row" style="text-align: justify;">
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="0">
                        <div>
                            <h3 style="color: #fff;letter-spacing: 0;" class="icon icon-arrows-circle-check"> NGUỒN GỐC THẢO DƯỢC</h3>
                            <p style="font-size: 16px;color: #fff;line-height: 28px;font-weight: 400;">Là bài thuốc Y Học Cổ Truyền độc đáo từ các thảo dược quý của Việt Nam. Thừa hưởng và phát huy tinh túy những công thức cổ truyền ưu việt.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="200">
                        <div>
                            <h3 style="color: #fff;letter-spacing: 0;" class="icon icon-arrows-circle-check"> AN TOÀN TUYỆT ĐỐI</h3>
                            <p style="font-size: 16px;color: #fff;line-height: 28px;font-weight: 400;">Đã được thử nghiệm lâm sàng và theo dõi trên nhiều bệnh nhân tại bệnh viện Quân Y 103 cho thấy kết quả rất hiệu quả trên bệnh nhân mất ngủ lâu năm, an toàn không tác dụng phụ.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="400">
                        <div>
                            <h3 style="color: #fff;letter-spacing: 0;" class="icon icon-arrows-circle-check"> TIÊU CHUẨN CHẤT LƯỢNG</h3>
                            <p style="font-size: 16px;color: #fff;line-height: 28px;font-weight: 400;">Các dược liệu được nuôi trồng theo tiêu chuẩn GAP và được xử lí sạch trước khi sản xuất. Sản xuất theo công nghệ tiên tiến đạt tiêu chuẩn GMP- WHO.</p>
                        </div>
                    </div>

                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="600">
                        <div>
                            <h3 style="color: #fff;letter-spacing: 0;" class="icon icon-arrows-circle-check"> TỐI ƯU SẢN XUẤT</h3>
                            <p style="font-size: 16px;color: #fff;line-height: 28px;font-weight: 400;">Sản phẩm hội tụ những thành phần nguyên liệu đặc biệt tác dụng chuyên sâu cùng công nghệ sản xuất hiện đại nhất.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="800">
                        <div>
                            <h3 style="color: #fff;letter-spacing: 0;font-size: 24px;" class="icon icon-arrows-circle-check"> CHUYÊN GIA KHUYÊN DÙNG</h3>
                            <p style="font-size: 16px;color: #fff;line-height: 28px;font-weight: 400;">Được cấp phép của Bộ Y tế Việt Nam, được các chuyên gia, các nhà khoa học hàng đầu Việt Nam đánh giá cao hiệu quả và khuyên dùng.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp" data-animation-delay="1000">
                        <div>
                            <h3 style="color: #fff;letter-spacing: 0;" class="icon icon-arrows-circle-check"> THÀNH TỰU KHOA HỌC</h3>
                            <p style="font-size: 16px;color: #fff;line-height: 28px;font-weight: 400;">Trà Ngủ Ngon Bình Chi là thành quả của công trình nghiên cứu khoa học hết sức công phu bởi các Giáo sư, Phó Giáo Sư, Tiến Sĩ đầu ngành theo ngân sách nhà nước. Đây là công trình nghiên cứu khoa học có giá trị thực tiễn cao, áp dụng rộng rãi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CALL TO ACTION -->
        <section style=" background: url('{{ site.url }}/media/images/sanpham/bg-respon.jpg');background-repeat: no-repeat;background-size: cover;overflow: visible;z-index: auto;" data-stellar-background-ratio="0.5" id="phanhoi">
            <div class="container center">
                <div class="bgtitle center" style="left: 0%;" data-animation="fadeInUp" data-animation-delay="700">
                    <h2 class="p1"><div class="bgtitle2">PHẢN HỒI TỪ CÁC NHÀ THUỐC</div></h2>
                    <div class="p-t-40 lead" style="color: #103f5d">Lắng nghe các dược sĩ từ các nhà thuốc uy tín đạt chuyển GMP trên khắp cả nước nói về giấc ngủ mà <strong>Trà Ngủ Ngon Bình Chi</strong> đem lại!</div>
                </div>
                <div class="carousel" data-items="3" data-margin="20" data-animation="fadeInUp" data-animation-delay="700"> 
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/Mo5B4grdfzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/eImmVIMwKZ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/yxizzqtM9gw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/z0D6nQOAOGY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/e1CFOs3a0o8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                </div>
            </div>
        </section>
        <!-- CALL TO ACTION -->

        <section style="background-color: #0b2639;padding: 0 0;">
            <img class="img-responsive" style="width: 100%" src="{{ site.url }}/media/images/sanpham/bg-congbo.jpg">
        </section>
                <!-- Our numbers -->
        <section class="p-t-120 p-b-40" style="background-color: #0286a8!important;">
            <div id="particles-js" class="particles"></div>
            <div class="container xs-text-center sm-text-center text-light">
                <div class="row">
                    <div class="col-md-9 p-b-40">
                        <h2 class="m-b-20">TRÀ NGỦ NGON BÌNH CHI - MÓN QUÀ SỨC KHỎE VÀ TINH THẦN TUYỆT VỜI NHẤT!</h2>
                        <p class="lead">Hơn <span style="font-size: 50px;">1500+</span> nhà thuốc phân phối TRÀ NGỦ NGON trên khắp toàn quốc.<br>
                        Đặt mua ngay hôm nay để có được giá cả tốt nhất cho bạn và người thân của mình!</p>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center">
                            <div class="counter text-large"> <span data-speed="1500" data-refresh-interval="12" data-to="5195" data-from="0" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p>KHÁCH HÀNG TIN TƯỞNG</p>
                            <a data-target="#modaltuvan" data-toggle="modal" href="#" type="button" class="btn btn-light btn-outline btn-rounded center">Tư vấn bệnh mất ngủ</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end: Our numbers -->


       <!-- Pricing Table -->
        <section class="khachhang" style="background: url('{{ site.url }}/media/images/sanpham/bg-price.jpg');background-repeat: no-repeat;background-size: cover;overflow: visible;z-index: auto;" data-stellar-background-ratio="0.5" id="banggia">
            <div class="container">
                <div class="bgtitle center" style="left: 0%;" data-animation="fadeInUp" data-animation-delay="700">
                    <h2 class="p1"><div class="bgtitle1">ĐẶT MUA TRÀ NGỦ NGON BÌNH CHI</div></h2>
                </div>
                <div class="text-center" data-animation="fadeInUp" data-animation-delay="700">
                    <hr class="space">
                    <p class="lead" style="color: #fff !important;">Vui lòng gọi điện thoại tới <span class="label label-warning"><a href="tel:0939878282"><b>HOTLINE: 0939.87.82.82</b></a></span> hoặc <a data-target="#modaldatmua2" data-toggle="modal" href="#"><span class="label label-default">ĐẶT MUA</span></a><br>Chúng tôi sẽ liên hệ lại trong vòng 5'!</p>
                </div>
                <hr class="space">
                <div class="row">
                    <div class="pricing-table">
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInLeft" style="text-align: -webkit-center;">
                            <div class="plan" style="width: 80%;">
                                <div class="plan-header">
                                    <h4>GIÁ BÁN LẺ</h4>
                                    <p class="text-muted"><span class="label label-warning">KHÁCH DÙNG THỬ</span></p>
                                    <div class="plan-price" style="font-size: 35px;">125.000<sup>VNĐ</sup><span>/1 HỘP</span> </div>
                                    <a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn btn btn-light"><span><i class="fa fa-shopping-cart"></i>ĐẶT MUA</span></a> 
                                </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: <strong>1</strong> hộp</li>
                                        <!--li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInUp" style="text-align: -webkit-center;">
                            <div class="plan featured">
                                <div class="plan-header">
                                    <h4>LIỆU TRÌNH TỐT NHẤT</h4>
                                    <p class="text-muted"><span class="label label-success">MUA NHIỀU NHẤT</span></p>
                                    <div class="plan-price" style="font-size: 50px;">369.000<sup>VNĐ</sup><span>/bộ</span> </div>
                                    <a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn btn btn-dark"><span><i class="fa fa-shopping-cart"></i>MUA NGAY</span></a> 
                                </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: <strong>3</strong> hộp</li>
                                        <li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li>
                                        <li><i class="fa fa-user-plus"></i>Liệu trình sử dụng 25-30 ngày</li>
                                        <li><i class="fa fa-hand-o-right"></i>Lấy lại giấc ngủ sinh lý tự nhiên</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInRight" style="text-align: -webkit-center;">
                            <div class="plan" style="width: 80%;">
                                <div class="plan-header">
                                    <h4>GIÁ BÁN ĐẠI LÝ</h4>
                                    <p class="text-muted"><span class="label label-danger">ƯU ĐÃI CAO</span></p>
                                    <div class="plan-price" style="font-size: 35px;">GIÁ<!--sup>VNĐ</sup--><span>/HỘP</span> </div>
                                    <a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn btn btn-light"><span><i class="fa fa-shopping-cart"></i>LIÊN HỆ</span></a> 
                                </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: > <strong>4</strong> hộp</li>
                                        <li><i class="fa fa-user"></i>Chiết khấu: <strong>XX%</strong></li>
                                        <li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Pricing Table -->

        <!-- Contact -->
        <section id="datmua" class="p-b-200" style="background-image:url({{ site.url }}/media/images/sanpham/background-4.png); background-position:71% 22%;overflow: visible;z-index: auto;">
            <div class="container">
                <div class="row" data-animation="fadeInUp" data-animation-delay="700">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="bgtitle">
                                <h2 class="p1"><div class="bgtitle1">MUA TRÀ NGỦ NGON BÌNH CHI</div></h2>
                            </div>
                            <hr class="space">
                            <div class="col-md-6 m-b-30">
                                <address>
                                <strong>VĂN PHÒNG GIAO DỊCH:</strong><br>
                                12 Khuất Duy Tiến<br>
                                Quận Thanh Xuân, TP. Hà Nội<br>
                            </address>
                                <abbr><strong>HOTLINE:</strong></abbr> <a href="tel:0939878282">093.987.8282</a><br>
                                <abbr><strong>Email:</strong></abbr> info@tanbinhchi.vn
                            </div>
                            <div class="col-md-6 m-b-30">
                                <address>
                                <strong>KHO SẢN XUẤT:</strong><br>
                                Vương Thừa Vũ<br>
                                Quận Đống Đa, TP. Hà Nội<br>
                            </address>
                                <abbr><strong>HOTLINE:</strong></abbr> <a href="tel:0847948866">08.4794.8866</a>
                                <br>
                                <abbr><strong>Email:</strong></abbr> darius@tanbinhchi.vn
                            </div>
                            <div class="col-md-12">
                                <h4>ĐẶT HÀNG QUA MẠNG XÃ HỘI</h4>
                                <div class="social-icons social-icons-light social-icons-colored-hover">
                                    <ul>
                                        <li class="social-facebook"><a href="https://www.facebook.com/tanbinhchi"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="https://twitter.com/tanbinhchi"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-youtube"><a href="https://www.youtube.com/channel/UCWA6MwK6ceXGoiulZ_B4j5w"><i class="fa fa-youtube"></i></a></li>
                                        <li class="social-instagram"><a href="https://www.instagram.com/tanbinhchi/"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="https://www.linkedin.com/in/tanbinhchi/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">

                        <div class="contact-widget">

                            <div class="contact-form-result"></div>

                            <form class="contact-form" name="template-contactform" action="https://script.google.com/macros/s/AKfycbyFmQzMRmEyCC5_RsPz7yrFQDLCvf7evF7Hxq2yA1Kg5aguDtk/exec" role="form" method="post">
                                <div class="form-process"></div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="name">Họ và Tên <small>*</small></label>
                                        <input type="text" aria-required="true" name="Họ và Tên" class="form-control required name" placeholder="Nhập họ và tên">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="email">Địa chỉ Email</label>
                                        <input type="email" aria-required="true" name="Email" class="form-control email" placeholder="Nhập địa chỉ Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <div class="form-group">
                                            <label class="upper" for="phone">Số Điện Thoại <small>*</small></label>
                                            <input type="text" class="form-control required" name="Số điện thoại" placeholder="Nhập số điện thoại" id="phone" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div class="form-group">
                                            <label class="upper" for="company">Số lượng <small>*</small></label>
                                            <input type="text" class="form-control required" name="Số lượng" placeholder="Nhập số lượng" id="Số lượng" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Địa chỉ <small>*</small></label>
                                    <textarea type="text" name="Địa chỉ" class="form-control required" placeholder="Nhập địa chỉ" aria-required="true"></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-light btn-block" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i> GỬI</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end: Contact -->

        <section style="background: url('{{ site.url }}/media/images/sanpham/bg-news.jpg');background-repeat: no-repeat;background-size: cover;overflow: visible;z-index: auto;" data-stellar-background-ratio="0.5" >

            <div class="container">
                <div class="bgtitle center m-b-40" style="left: 0%;" data-animation="fadeInUp" data-animation-delay="700">
                    <h2 class="p1"><div class="bgtitle2">TIN TỨC SỨC KHỎE MỚI NHẤT</div></h2>
                </div>
                <!-- CATEGORIES -->
                <div class="row" style="background-color: #fff;padding: 20px 0 0 0;" data-animation="fadeInUp" data-animation-delay="700">
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/benh-mat-ngu/"><h4 class="widget-title-custom"><custom>BỆNH MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.benh-mat-ngu limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
    
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/dieu-tri-mat-ngu/"><h4 class="widget-title-custom"><custom>PHƯƠNG PHÁP TRỊ MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.dieu-tri-mat-ngu limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/mat-ngu-sau-sinh/"><h4 class="widget-title-custom"><custom>PHỤ NỮ MẤT NGỦ SAU SINH</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.mat-ngu-sau-sinh limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- end: CATEGORIES -->
            </div>
            
        </section>
