---
layout: home
title: "Phương pháp chữa mất ngủ - Giảm Stress - Giảm Cân Hiệu Quả"
meta-title: "Phương pháp chữa mất ngủ - Giảm Stress - Giảm Cân Hiệu Quả"
description: "Trà ngủ ngon có tác dụng an thần, đem lại giấc ngủ sâu, chữa các bệnh lý liên quan đến vấn đề mất ngủ, giảm stress cho người dùng, ngoài ra còn có tác dụng giảm cân, làm đẹp da, ... Mang lại năng lượng và tinh thần khỏe khoắn hơn cho ngày mới."
meta-description: "Trà ngủ ngon có tác dụng an thần, đem lại giấc ngủ sâu, chữa các bệnh lý liên quan đến vấn đề mất ngủ, giảm stress cho người dùng, ngoài ra còn có tác dụng giảm cân, làm đẹp da, ... Mang lại năng lượng và tinh thần khỏe khoắn hơn cho ngày mới."
permalink: "/test/"
published: false
sitemap: false
allow_search_engine: false
---

        <!-- WELCOME -->
        <section class="p-b-0" style="background-image: url({{ site.url }}/assets/images/bg-body.svg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 class="hit-the-floor" style="font-weight: 600;">GIỚI THIỆU</h2>
                </div>
                <div class="col-md-7 m-b-30">
                    <div style="width: 80%;height: auto;" class="image-absolute" data-animation="fadeInLeft" data-animation-delay="600">
                        <img class="img-responsive lazy center" src="{{ site.url }}/media/images/homepage/hop-tra-ngu-ngon-binh-chi.png" alt="ảnh hộp trà ngủ ngon bình chi">
                    </div>
                </div>
    
                <div class="col-md-5 m-b-30" data-animation="fadeInUp" data-animation-delay="800">
                    <div class="m-b-40">
                        <h2 class="text-medium hit-the-floor" style="color: #0286a8;text-align: center;">TRÀ NGỦ NGON<br><strong style="font-family: Blacksword;">Bình Chi</strong></h2>
                        <p style="text-align: justify;font-size: 17px;line-height: 1.5;">Với chiết xuất 100% từ thảo mộc thiên nhiên rất đỗi quen thuộc như: <b>Lạc Tử, Vông Nem, Atiso, Bình Vôi...</b> được thu hoạch búp ngọn chất lượng nhất, cẩn thận được nấu thành cao và chế biến thành dạng cốm, <b>TRÀ NGỦ NGON BÌNH CHI</b> có rất nhiều tác dụng không chỉ là chữa bệnh mất ngủ, lấy lại giấc ngủ sinh lý tự nhiên.</p>
                    </div>
                    <div class="text-center">
                        <a href="{{ site.url }}/san-pham/"><button type="button" class="btn btn-rounded btn-reveal" style="background-color: #0286a8;color: #fff;"><span>TÌM HIỂU SẢN PHẨM</span> <i class="fa fa-arrow-right"></i></button></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- GIÁ TRỊ SỨC KHỎE -->
        <section class="p-b-0" style="background-image: url({{ site.url }}/assets/images/bg-body.svg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 class="hit-the-floor" style="font-weight: 600;">GIÁ TRỊ SỨC KHỎE</h2>
                </div>

                <div class="row" data-animation="fadeIn" data-animation-delay="0">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/ngu-ngon.jpg" alt="">
                    </div>

                    <div class="col-md-9">
                        <h3><span class="label label-info" style="border-radius: 40px;">GIẤC NGỦ TỰ NHIÊN</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Bất kể bạn bị mất ngủ do tuối tác, di truyền, sức khỏe hay do cơ thể thay đổi hoocmon, trà có tác dụng hỗ trợ bạn có một giấc ngủ sinh lý tự nhiên nhất có thể, là giấc ngủ đã được thấm đượm tinh hoa thiên nhiên, mang lại cảm giác thoải mái nhẹ nhàng. Tạo lập thói quen ngủ đúng giờ sẽ thêm hỗ trợ giấc ngủ đến nhanh chóng tự nhiên mỗi ngày, đồng hồ sinh học trở lại hoạt động bình thường.
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="0">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/khoe-manh-ngu-day.jpg" alt="">
                    </div>

                    <div class="col-md-9">
                        <h3><span class="label label-info" style="border-radius: 40px;">SỨC KHỎE ĐẾN TỪ GIẤC NGỦ SÂU</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Chính từ mỗi đêm ngon giấc, sức khỏe sẽ được cải thiện vô cùng đáng kể nhờ các thành phần thiên nhiên an thần tuần hoàn khắp mạch máu, lưu thông giãn cốt. Từ từ chút một, nhờ giấc ngủ thấm sâu mà khi dậy không bị mệt mỏi hay khô khan, sức khỏe của bạn và người thân sẽ được cải thiện mỗi ngày.
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="200">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/thanh-loc-gan.jpg" alt="">
                    </div>

                    <div class="col-md-9">
                        <h3><span class="label label-info" style="border-radius: 40px;">THANH LỌC CƠ THỂ, GIẢI ĐỘC MÁT GAN</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            100% thành phần tinh hoa đất trời chính là bí quyết để xóa tan nỗi lo cho người có hệ thống nội tiết đang hoạt động bất thường. Cụ thể với những bạn hay nóng trong người, mụn nội tiết thường xuyên, làn da xám xuất hiện nhiều nếp nhăn, béo bụng,... chính là những biểu hiện cho thấy gan đang hoạt động thiếu hiệu quả. Trà ngủ ngon Bình Chi sẽ dần giảm bớt độc tố qua các lần lọc gan khi cơ thể con người đang ngủ say. 
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="400">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/tac-hai-thuoc-ngu.jpg" alt="">
                    </div>

                    <div class="col-md-9">
                        <h3><span class="label label-info" style="border-radius: 40px;">TẠM BIỆT TÁC DỤNG PHỤ THUỐC TÂY</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Thuốc ngủ chưa bao giờ là giải pháp tối ưu và an toàn. Để đánh đổi lại yếu tố nhanh chóng, bạn sẽ mất đi sự tự do và sức khỏe trong giấc ngủ. Cụ thể hơn, cơ thể sẽ bị dựa dẫm vào chất hóa học, gây ức chế thần kinh và sinh ra cảm giác lệ thuộc. Cơ thể sinh ra kháng thể để chống chọi thuốc ngủ, biểu hiện ra ngoài cơ thể là sự kém hấp thụ, xanh xao, thiếu nước và mệt mỏi khi tỉnh dậy. Trà ngủ ngon với hoàn toàn các vị thuốc quý Đông Y an toàn, sẽ không đi vào những vết xe như vậy. 
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="600">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/lieu-trinh-don-gian.jpg" alt="">
                    </div>

                    <div class="col-md-9">
                        <h3><span class="label label-info" style="border-radius: 40px;">LIỆU TRÌNH ĐƠN GIẢN</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Uống trà trước khi đi ngủ, còn gì để nói? Một ngụm trà ấm, vị ngọt thanh dịu sẽ dần lan tỏa cơ thể đem lại sức sống thư thái, một niềm tin mỗi sáng thức dậy khỏe mạnh. Tùy vào cơ địa mỗi người sẽ có hiệu quả khác nhau, nhưng trung bình sau 20 ngày sử dụng trà thảo mộc, trước tiên là giấc ngủ sâu lắng, sau đó là cảm giác thèm ăn sẽ trở lại với bạn.  
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="800">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/suc-khoe-gia-dinh.jpg" alt="">
                    </div>

                    <div class="col-md-9">
                        <h3><span class="label label-info" style="border-radius: 40px;">LIỆU PHÁP AN TOÀN CHO NGƯỜI THÂN VÀ BẠN BÈ</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Vì một sức khỏe xanh không chỉ cho riêng bạn, những giá trị cốt lõi Bình Chi trà ngủ ngon mang đến cho bạn cũng chính là những điều chúng tôi muốn gửi đến cho cộng đồng mọi người xung quanh, từ những gói trà thơm bé nhỏ thay đổi cuộc sống mỗi ngày.
                        </blockquote>
                    </div>
                </div>
                <br>
            </div>
        </section>


        <!-- ABOUT PRODUCTS -->
        <section id="section2" class="daimau">
            <div class="container">

                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 class="hit-the-floor" style="font-weight: 600;">KHÁCH HÀNG KHUYÊN DÙNG</h2>
                </div>

                <div class="row">
                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="0">
                        <figure><img class="img-responsive center" style="width: 80%;border-radius: 40px;-webkit-box-shadow: -5px 5px 5px #666;
    border: solid 2px #fdc949;" src="{{ site.url }}/media/images/homepage/mat-ngu.jpg" alt="" class="m-b-20"></figure>
                        <br><h3 class="center" style="width: 80%;color: #fff;">NGƯỜI BỊ MẤT NGỦ, NGỦ KHÔNG NGON, KHÔNG SÂU GIẤC</h3>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="300">
                        <figure><img class="img-responsive center" style="width: 80%;border-radius: 40px;-webkit-box-shadow: -5px 5px 5px #666;
    border: solid 2px #fdc949;" src="{{ site.url }}/media/images/homepage/nguoi-cao-tuoi-mat-ngu.JPG" alt="" class="m-b-20"></figure>
                        <br><h3 class="center" style="width: 80%;color: #fff;">NGƯỜI CAO TUỔI</h3>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="600">
                        <figure><img class="img-responsive center" style="width: 80%;border-radius: 40px;-webkit-box-shadow: -5px 5px 5px #666;
    border: solid 2px #fdc949;" src="{{ site.url }}/media/images/homepage/mat-ngu-do-thuoc.jpg" alt="" class="m-b-20"></figure>
                        <br><h3 class="center" style="width: 80%;color: #fff;">NGƯỜI MẤT NGỦ DO TÁC DỤNG PHỤ CỦA THUỐC</h3>
                    </div>
                </div>

                <br><br>

                <div class="row">
                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="0">
                        <figure><img class="img-responsive center" style="width: 80%;border-radius: 40px;-webkit-box-shadow: -5px 5px 5px #666;
    border: solid 2px #fdc949;" src="{{ site.url }}/media/images/homepage/nguoi-hay-uong-ruou-bia.jpg" alt="" class="m-b-20"></figure>
                        <br><h3 class="center" style="width: 80%;color: #fff;">NGƯỜI HAY UỐNG RƯỢU BIA</h3>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="300">
                        <figure><img class="img-responsive center" style="width: 80%;border-radius: 40px;-webkit-box-shadow: -5px 5px 5px #666;
    border: solid 2px #fdc949;" src="{{ site.url }}/media/images/homepage/lam-viec-cang-thang.jpg" alt="" class="m-b-20"></figure>
                        <br><h3 class="center" style="width: 80%;color: #fff;">NGƯỜI LÀM VIỆC CĂNG THẲNG, ĐẦU ÓC MỆT MỎI</h3>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="600">
                        <figure><img class="img-responsive center" style="width: 80%;border-radius: 40px;-webkit-box-shadow: -5px 5px 5px #666;
    border: solid 2px #fdc949;" src="{{ site.url }}/media/images/homepage/mun-noi-tiet.jpg" alt="" class="m-b-20"></figure>
                        <br><h3 class="center" style="width: 80%;color: #fff;">THANH THIẾU NIÊN NÓNG TRONG NGƯỜI, MỤN NHỌT, BÉO BỤNG</h3>
                    </div>
                </div>

            </div>
        </section>
        <!-- end: ABOUT PRODUCTS -->

        <!--call-to-action colored background -->
        <div class="call-to-action call-to-action-colored" style="margin-bottom: 0px;background-color: #0286a8;padding: 15px 0 0px;">
            <div class="col-md-10" style="padding: 0 0 0 60px;">
                <h3>Hơn <span style="font-size: 50px;">1500+</span> nhà thuốc phân phối <span>TRÀ NGỦ NGON</span> trên khắp toàn quốc</h3>
                <p>Đặt mua ngay hôm nay để có được giá cả tốt nhất cho bạn và người thân của mình!</p>
            </div>
            <div class="col-md-2" style="padding: 0 0 0 0;">
                <a class="btn btn-light btn-outline">ĐẶT MUA!</a>
            </div>
        </div>

        <!--END: call-to-action colored background -->


        <!-- BLOG -->
        <section>
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 class="hit-the-floor" style="font-weight: 600;">TIN TỨC MỚI NHẤT</h2>
                    <!--span class="lead text-colors">Trà Ngủ Ngon - Cho Giấc Ngủ Say Nồng</span-->
                </div>
                <!-- CATEGORIES -->
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/benh-mat-ngu/"><h4 class="widget-title-custom"><custom>BỆNH MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.benh-mat-ngu limit:4 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
    
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/dieu-tri-mat-ngu/"><h4 class="widget-title-custom"><custom>PHƯƠNG PHÁP TRỊ MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.dieu-tri-mat-ngu limit:4 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/mat-ngu-sau-sinh/"><h4 class="widget-title-custom"><custom>PHỤ NỮ MẤT NGỦ SAU SINH</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.mat-ngu-sau-sinh limit:4 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- end: CATEGORIES -->
            </div>
        </section>
        <!-- end: BLOG -->

        <section style="background-image: url({{ site.url }}/media/images/homepage/bg-about-us.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive center" style="width: 45%;" src="{{ site.url }}/media/images/logo-tanbinhchi.png" alt="Tân Bình Chi">
                    </div>

                    <div class="col-md-8">
                        <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                            <h2><b style="color: #fff;">VỀ CHÚNG TÔI</b></h2>
                        </div>
                        <div>
                            <i><blockquote style="color: #fff;text-align: justify;font-size: 15px;"><strong>Công Ty Cổ Phần Tân Bình Chi</strong> mang sứ mệnh cung cấp những giải pháp, giá trị lâu dài - an toàn cho sức khỏe. Sản phẩm xanh vì sức khỏe của chúng tôi cũng vậy. Mỗi ngày, một chút một, tạo lập những thói quen tốt, sống gần gũi với thiên nhiên.</blockquote></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>



-------------------

        <!-- WELCOME -->
        <!--section class="p-b-0">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 class="hit-the-floor">PHƯƠNG PHÁP CHỮA DỨT ĐIỂM BỆNH MẤT NGỦ<br>
                        AN TOÀN - HIỆU QUẢ
                    </h2>
                    <span class="lead text-colors"><strong><i>TRÀ NGỦ NGON - TRỊ MẤT NGỦ LÂU NĂM - MẤT NGỦ KINH NIÊN - MẤT NGỦ SAU SINH - TRẺ EM MẤT NGỦ - KHÓ NGỦ</i></strong></span>
                </div>
                <div class="row col-no-margin equalize" data-equalize-item=".text-box">
                    <!--Box 1-->
                    <!--div class="col-md-4" style="background-color: #3b81a4;">
                        <div class="text-box hover-effect">
                            <i class="fa fa-paper-plane"></i>
                            <h3><strong>Chất lượng trong từng giấc ngủ</strong></h3>
                            <p>Cho bạn có giấc ngủ sâu ngay cả với những giấc ngủ trưa ngắn 15 - 20 phút, giúp giải tỏa căng thẳng hiệu quả.</p>
                        </div>
                    </div>
                    <!--End: Box 1-->
                    <!--Box 2-->
                    <!--div class="col-md-4" style="background-color: #3b81a4;">
                        <div class="text-box hover-effect">
                            <i class="fa fa-pie-chart"></i>
                            <h3><strong>Không gây mệt mỏi</strong></h3>
                            <p>Khác với các loại thuốc có dược tính cao, trà ngủ ngon Bình Chi giúp bạn không cảm thấy mệt mỏi, tỉnh táo và phục hồi sức khỏe sau khi tỉnh dậy.</p>
                        </div>
                    </div>
                    <!--End: Box 2-->
                    <!--Box 3-->
                    <!--div class="col-md-4" style="background-color: #3b81a4;">
                        <div class="text-box hover-effect">
                            <i class="fa fa-tree"></i>
                            <h3><strong>Nguồn gốc 100% thảo dược thiên nhiên</strong></h3>
                            <p>Với chiết xuất 100% từ thảo dược thiên nhiên rất đỗi quen thuộc như: Cao Lạc Tiên, Cao Vông Nem, Cao Atiso, Bình vôi… giúp bạn có được giấc ngủ hoàn toàn tự nhiên.</p>
                        </div>
                    </div>
                    <!--End: Box 3-->
                <!--/div>
            </div>
        </section>
        <!-- end: WELCOME -->

        <!-- WHAT WE DO -->
        <!--section class="p-b-0">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 class="hit-the-floor">LỢI ÍCH KHI SỬ DỤNG TRÀ NGỦ NGON</h2>
                    <!--span class="lead text-colors">Trà Ngủ Ngon - Cho Giấc Ngủ Say Nồng</span-->
                </div>
                <!-- Text Boxes -->
                <!--div class="row col-no-margin equalize" data-equalize-item=".text-box">
                    <!--Box 1-->
                    <!--div class="col-md-3" style="background-color: #39B24B;">
                        <div class="text-box">
                            <i class="fa fa-tree"></i>
                            <h3><strong>NGUỒN GỐC THIÊN NHIÊN</strong></h3>
                            <p><b>100% thảo dược Việt Nam</b>, hoàn toàn tự nhiên, không tác dụng phụ. Sản phẩm dùng được cho trẻ em từ 2 tuổi trở lên.</p>
                        </div>
                    </div>
                    <!--End: Box 1-->
                    <!--Box 2-->
                    <!--div class="col-md-3" style="background-color: #56B847;">
                        <div class="text-box">
                            <i class="fa fa-pie-chart"></i>
                            <h3><strong>HIỆU QUẢ TỨC THÌ</strong></h3>
                            <p>Liệu trình điều trị rõ ràng, giúp ngủ ngon và sâu hơn, hiệu quả rõ rệt chỉ sau một thời gian ngắn sử dụng.</p>
                        </div>
                    </div>
                    <!--End: Box 2-->
                    <!--Box 3-->
                    <!--div class="col-md-3" style="background-color: #8BC73F;">
                        <div class="text-box">
                            <i class="fa fa-lightbulb-o"></i>
                            <h3><strong>KHÁCH HÀNG TIN TƯỞNG</strong></h3>
                            <p>Được tin dùng bởi hơn <b>500 khách hàng</b>, cho phản hồi rất tích cực.</p>
                        </div>
                    </div>
                    <!--End: Box 3-->
                    <!--Box 4-->
                    <!--div class="col-md-3" style="background-color: #A3CF39;">
                        <div class="text-box">
                            <i class="fa fa-language"></i>
                            <h3><strong>LIỆU TRÌNH ĐƠN GIẢN</strong></h3>
                            <p>Tùy thuộc vào <b>tình trạng sức khỏe</b> và mức độ mất ngủ của người bệnh mà chúng tôi đưa ra những <b>liệu trình riêng biệt</b>.</p>
                        </div>
                    </div>
                    <!--End: Box 4-->
                <!--/div>
                <!-- end: Text Boxes -->
            <!--/div>
        </section>
        <!-- END WHAT WE DO --> 

        <!--hr class="space">

        <!--call-to-action colored background -->
        <!--div class="call-to-action call-to-action-colored" style="margin-bottom: 0px;background-color: #0286a8;">
            <div class="container">
                <div class="col-md-10">
                    <h3>Hơn <span>1500+ nhà thuốc</span> phân phối <span>TRÀ NGỦ NGON</span> trên khắp toàn quốc</h3>
                    <p>Đặt mua ngay hôm nay để có được giá cả tốt nhất cho bạn và người thân của mình!</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-light btn-outline">ĐẶT MUA!</a>
                </div>
            </div>
        </div>

        <!--END: call-to-action colored background -->

        <!--section class="p-b-0" style="background-image: url(assets/images/bg-body.svg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="col-md-6 m-b-30">
                    <div style="width: 100%;height: auto;" class="image-absolute" data-animation="fadeInLeft" data-animation-delay="600">
                        <img class="img-responsive lazy" src="media/images/homepage/hop-tra-ngu-ngon-binh-chi.png" alt="ảnh hộp trà ngủ ngon bình chi">
                    </div>
                </div>
    
                <div class="col-md-6 m-b-30" data-animation="fadeInUp" data-animation-delay="800">
                    <div class="m-b-40">
                        <h2 class="text-medium hit-the-floor" style="color: #0286a8;text-align: center;">TRÀ NGỦ NGON<br><strong style="font-family: Blacksword;">Bình Chi</strong></h2>
                        <span style="text-align: justify;font-size: 20px;line-height: 1.5;">Với chiết xuất 100% từ thảo mộc thiên nhiên rất đỗi quen thuộc như: <b>Lạc Tử, Vông Nem, Atiso, Bình Vôi...</b> được thu hoạch búp ngọn chất lượng nhất, cẩn thận được nấu thành cao và chế biến thành dạng cốm, <b>TRÀ NGỦ NGON BÌNH CHI</b> có tác dụng:</span>
                        <div class="row" style="font-size: 18px;">
                            <div class="col-md-6">
                                <ul class="list-icon list-icon-check list-icon-colored">
                                    <li><span class="label label-danger">Giúp giấc ngủ đi sâu tự nhiên</span></li>
                                    <li><span class="label label-warning">Phòng tránh ung thư, tiểu đường</span></li>
                                    <li><span class="label label-info">Thải độc cơ thể</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-icon list-icon-arrow list-icon-colored">
                                    <li><span class="label label-primary">Giảm mỡ máu</span></li>
                                    <li><span class="label label-default">Giảm béo ở phụ nữ và nam giới</span></li>
                                    <li><span class="label label-success">Giảm thiểu các tác dụng phụ thuốc ngủ</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a data-target="#modal" data-toggle="modal" href="#" class="btn btn-dark btn-outline" style="width: 100%"><span>TÌM HIỂU SẢN PHẨM</span></a>
                </div>
            </div>
        </section>

        <section class="p-b-0" style="background-color: #0286a8">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 class="hit-the-floor" style="color: #ff9900">THÔNG TIN CHI TIẾT SẢN PHẨM <span style="color: #ffff00">TRÀ NGỦ NGON</span></h2>
                </div>

                <div class="col-md-10 center" data-animation="fadeInUp">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4><span class="label label-warning">THÀNH PHẦN TRÀ NGỦ NGON</span></h4>
                                <ul>
                                    <li><b>Cao Lạc Tiên</b></li>
                                    <li><b>Cao Vông Nem</b></li>
                                    <li><b>Cao Atiso</b></li>
                                    <li><b>Cao Bình Vôi</b></li>
                                    <li><b>Tá dược vừa đủ</b></li>
                                </ul>
                                <br>
                                
                                <h4><span class="label label-primary">HƯỚNG DẪN SỬ DỤNG</span></h4>
                                <ul>
                                    <li><b>Bước 1:</b> Pha một gói <b>Trà Ngủ Ngon Bình Chi</b> vào ấm.</li>
                                    <li><b>Bước 2:</b> Chế khoảng 300-400 ml nước sôi (nên dùng nước sôi ở 100 độ C)</li>
                                    <li><b>Bước 3:</b> Ngâm trà trong khoảng 4-6 phút để trà nở đều</li>
                                    <li><b>Bước 4:</b> Thêm đường tùy khẩu vị. Trà ngon hơn khi uống lạnh.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4><span class="label label-primary">ĐỐI TƯỢNG KHUYÊN DÙNG</span></h4>
                                <ul>
                                    <li><span class="label label-success">1. Người cao tuổi:</span> Trà Ngủ Ngon Bình Chi có chứa Lạc Tiên và Vông Nem là các thành phần thuốc quý rất tốt trong việc phòng ngừa các bệnh tuổi già đặc biệt là ung thư, ngăn ngừa sự phát triển của các tế bào có hại. Điểm cộng thêm là khả năng hấp thu và tiêu hóa rất dễ nên đây là sự lựa chọn rất tốt cho người cao tuổi.</li>
                                    <li><span class="label label-success">2. Người lạm dụng thuốc ngủ lâu ngày:</span> Thuốc ngủ, suy cho cùng cũng là một dạng kháng sinh nên cơ thể tất yêu sẽ sinh ra kháng thể và thuốc bị nhờn. Uống lâu ngày sẽ còn sinh ra các tác dụng phụ và cảm giác ăn mất ngon do thành phần thuốc ngủ khó tiêu. Trà ngủ ngon sẽ giúp gan thải độc thành phần hóa học nhanh hơn, giúp cơ thể thèm ăn và lấy lại giấc ngủ sinh lý một cách tự nhiên, không phụ thuộc vào thuốc.  
                                    <li><span class="label label-success">3. Người hay uống rượu bia:</span> Những người hay uống rượu bia thường cảm thấy khó chịu nhất là khi say, do đó một tách trà hoa mát lạnh sẽ giúp họ không những giải cơn khát do rượu bia gây ra mà còn giúp cải thiện tình trạng cơ thể, giúp tỉnh táo nhanh chóng hơn. Tuy nhiên thói quen uống rượu bia cũng cần được bỏ dần, trà không thể thay thế thuốc chữa bệnh để lạm rượu bia thêm.</li>
                                    <li><span class="label label-success">4. Người làm việc căng thẳng, đầu óc mệt mỏi:</span> Người làm việc đầu óc nhiều, áp lực công việc dễ dẫn đến stress cực độ. Bởi vậy họ cần được thư giãn, an nhiên về tinh thần. Và sử dụng Trà Ngủ Ngon Bình Chi là một trong những cách giúp bạn trở lại trạng thái tỉnh táo và thư thái nhất để có thể tiếp tục xử lý công việc.</li>
                                    <li><span class="label label-success">5. Người làm việc văn phòng, công sở:</span> Dân văn phòng, công sở phải sử dụng máy tính nhiều và ngồi nhiều. Đặc điểm công việc khiến vóc dáng các bạn không được thon gọn, kém xinh hơn. Trà Ngủ Ngon Bình Chi có chứa lá sen khô không những làm giảm mỡ máu mà còn giúp đào thải các chất béo, giúp cơ thể nhanh chóng lấy lại vóc dáng đẹp đẽ</li>
                                    <li><span class="label label-success">6. Thanh, thiếu niên nóng trong người, mụn nhọt:</span> Các bạn trẻ rất hay hoạt động mạnh, cộng thêm việc thích ăn các đồ ăn cay nóng, uống nước ngọt khiến gan phải làm việc vất vả hơn, dễ sinh ra nóng trong và mụn nhọt. Đừng lo vì Trà Ngủ Ngon Bình Chi có công dụng chính là thanh nhiệt, giải độc sẽ là người bạn đồng hành cùng bạn trong mọi cuộc vui</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial Carousel -->
        
        <!--section class="p-b-0" style="background-image: url(assets/images/bg-body.svg);">
            <div class="container">
            
                <div class="col-md-8">
                    <div class="hr-title center"><abbr style="font-size: 30px;color: #0286a8;background-color: #fdc849;">CÂU HỎI THƯỜNG GẶP</abbr> </div>
                    <!-- Testimonials -->
                    <!--div class="carousel testimonial testimonial-single testimonial-left" data-items="1" data-autoplay="true" data-loop="true" data-autoplay-timeout="3500">
        
                        <!-- Testimonials item -->
                        <!--div class="testimonial-item">
                            <img src="media/images/team/nguyen-thi-huyen.jpg" alt="nguyen-thi-huyen">
                            <p>Chào Bác Sĩ, năm nay em 27 tuổi và mới sinh được 26 ngày, từ khi sinh em bé em ngủ không sâu giấc, đêm hầu như không ngủ được,…</p>
                            <!--span>Alan Monre</span>
                            <span>CEO, Square Software</span-->
                            <!--span><a href="#" class="btn">Xem thêm</a></span>
                        </div>
                        <!-- end: Testimonials item-->
        
                        <!-- Testimonials item -->
                        <!--div class="testimonial-item">
                            <img src="media/images/team/dung-dinh.jpg" alt="dung-dinh">
                            <p>Chào Bác Sĩ, tôi là Hiếu 50 tuổi, bị mất ngủ hơn 7 năm nay, đêm nào cũng trằn trọc và tỉnh giấc vài lần. Bây giờ tôi cũng…</p>
                            <!--span>Alan Monre</span>
                            <span>CEO, Square Software</span-->
                            <!--span><a href="#" class="btn">Xem thêm</a></span>
                        </div>
                        <!-- end: Testimonials item-->
        
                        <!-- Testimonials item -->
                        <!--div class="testimonial-item">
                            <img src="media/images/team/ho-viet.jpg" alt="ho-viet">
                            <p>Chào bác sĩ, cháu năm nay 19 tuổi. Gần đây thường trằn trọc khó ngủ và hay tỉnh giấc rồi lại rất khó để ngủ lại. Liệu cháu có dùng…</p>
                            <!--span>Alan Monre</span>
                            <span>CEO, Square Software</span-->
                            <!--span><a href="#" class="btn">Xem thêm</a></span>
                        </div>
                        <!-- end: Testimonials item-->
        
                    <!--/div>
                    <!-- end: Testimonials -->
                <!--/div>

                <div class="col-md-4">
                    <!--Default Form-->
                    <!--div class="hr-title center"><abbr style="font-size: 20px;color: #0286a8;background-color: #fdc849;letter-spacing: 0;">GỬI THƯ CHUYÊN GIA TƯ VẤN</abbr> </div>
                    <div class="row">
                        <form>
                            <div class="row">
                                <div class="form-group">
                                    <label class="upper" for="name">Họ và Tên</label>
                                    <input type="text" class="form-control required" name="HoTen" placeholder="Nhập họ và tên" id="name" aria-required="true">
                                </div>
                                <div class="form-group">
                                    <label class="upper" for="email">Địa chỉ Email</label>
                                    <input type="email" class="form-control required email" name="Email" placeholder="Nhập Email" id="email" aria-required="true">
                                </div>
                                <div class="form-group">
                                    <label class="upper" for="phone">Số điện thoại</label>
                                    <input type="text" class="form-control required" name="SoDienThoai" placeholder="Nhập số điện thoại" id="phone" aria-required="true">
                                </div>
                                <div class="form-group">
                                    <label class="upper" for="comment">Mô tả vấn đề bạn gặp phải</label>
                                    <textarea class="form-control required" name="LoiNhan" rows="9" placeholder="Nhập lời nhắn" id="comment" aria-required="true"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <button style="width: 100%" class="btn btn-default" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i> GỬI</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--END: Default Form--> 
                <!--/div>

            </div>
        </section>
        <!-- End: Testimonial Carousel -->

        <!--hr class="space">

        <!-- BLOG -->
        <!--div class="container">
            <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                <h2 class="hit-the-floor" style="font-weight: 600;">TIN TỨC MỚI NHẤT</h2>
                <!--span class="lead text-colors">Trà Ngủ Ngon - Cho Giấc Ngủ Say Nồng</span-->
            <!--/div>
            <!-- CATEGORIES -->
            <!--div class="row">
                <div class="col-md-4">
                    <div>
                        <a href="{{ site.url }}/benh-mat-ngu/"><h4 class="widget-title-custom"><custom>BỆNH MẤT NGỦ</custom></h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.benh-mat-ngu limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <!--div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            <!--/div>    
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <a href="{{ site.url }}/dieu-tri-mat-ngu/"><h4 class="widget-title-custom"><custom>PHƯƠNG PHÁP TRỊ MẤT NGỦ</custom></h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.dieu-tri-mat-ngu limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <!--div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            <!--/div>    
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a href="{{ site.url }}/mat-ngu-sau-sinh/"><h4 class="widget-title-custom"><custom>PHỤ NỮ MẤT NGỦ SAU SINH</custom></h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.mat-ngu-sau-sinh limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <!--div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            <!--/div>    
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end: CATEGORIES -->
        <!--/div>
        <!-- end: BLOG -->
