---
layout: home
title: "Phương pháp chữa mất ngủ - Giảm Stress - Giảm Cân Hiệu Quả"
meta-title: "Trà Ngủ Ngon Bình Chi | Chữa mất ngủ - Giảm Stress - Giảm Cân Hiệu Quả"
description: "Trà ngủ ngon Bình Chi có tác dụng an thần, đem lại giấc ngủ sâu, chữa các bệnh lý liên quan đến vấn đề mất ngủ, giảm stress cho người dùng, ngoài ra còn có tác dụng giảm cân, làm đẹp da, ... Mang lại năng lượng và tinh thần khỏe khoắn hơn cho ngày mới."
meta-description: "Trà ngủ ngon Bình Chi có tác dụng an thần, đem lại giấc ngủ sâu, chữa các bệnh lý liên quan đến vấn đề mất ngủ, giảm stress cho người dùng, ngoài ra còn có tác dụng giảm cân, làm đẹp da, ... Mang lại năng lượng và tinh thần khỏe khoắn hơn cho ngày mới."
redirect_from:
    - /index.php/
---


        <!-- WELCOME -->
        <section style="/*background-image: url({{ site.url }}/assets/images/bg-body.svg);background-position: center center;background-repeat: no-repeat;background-size: cover;*/">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2  style="font-weight: 600;">GIỚI THIỆU</h2>
                </div>
                <div class="row">
                    <div class="col-md-5" style="height:400px">
                        <div class="image-absolute" data-animation="fadeInLeft" data-animation-delay="800">
                            <img class="img-responsive lazy center" src="{{ site.url }}/media/images/homepage/hop-tra-ngu-ngon-binh-chi.jpg" alt="ảnh hộp trà ngủ ngon bình chi">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1" data-animation="fadeInUp" data-animation-delay="1000">
                        <div class="m-b-40">
                            <h2 class="text-medium hit-the-floor" style="color: #0286a8;text-align: center;">TRÀ NGỦ NGON<br><strong style="font-family: Blacksword;">Bình Chi</strong></h2>
                            <p style="text-align: justify;font-size: 17px;line-height: 1.5;">Với chiết xuất 100% từ thảo mộc thiên nhiên rất đỗi quen thuộc như: <b>Lạc Tiên, Vông Nem, Atiso, Bình Vôi...</b> được thu hoạch búp ngọn chất lượng nhất, cẩn thận được nấu thành cao và chế biến thành dạng cốm, <b>TRÀ NGỦ NGON BÌNH CHI</b> có rất nhiều tác dụng không chỉ là chữa bệnh mất ngủ, lấy lại giấc ngủ sinh lý tự nhiên.</p>
                        </div>
                        <div class="text-center">
                            <a href="{{ site.url }}/san-pham/"><button type="button" class="btn btn-rounded btn-reveal" style="background-color: #0286a8;color: #fff;"><span>TÌM HIỂU SẢN PHẨM</span> <i class="fa fa-arrow-right"></i></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- GIÁ TRỊ SỨC KHỎE -->
        <section class="p-b-0" style="background-image: url({{ site.url }}/assets/images/bg-body.svg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2  style="font-weight: 600;">GIÁ TRỊ SỨC KHỎE</h2>
                </div>

                <div class="row" data-animation="fadeIn" data-animation-delay="0">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/ngu-ngon.jpg" alt="GIẤC NGỦ TỰ NHIÊN">
                    </div>

                    <div class="col-md-9">
                        <h3 style="padding-top: 1em;"><span class="label label-info" style="border-radius: 40px;">GIẤC NGỦ TỰ NHIÊN</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Bất kể bạn bị mất ngủ do tuối tác, di truyền, sức khỏe hay do cơ thể thay đổi hoocmon, trà có tác dụng hỗ trợ bạn có một giấc ngủ sinh lý tự nhiên nhất có thể, là giấc ngủ đã được thấm đượm tinh hoa thiên nhiên, mang lại cảm giác thoải mái nhẹ nhàng. Tạo lập thói quen ngủ đúng giờ sẽ thêm hỗ trợ giấc ngủ đến nhanh chóng tự nhiên mỗi ngày, đồng hồ sinh học trở lại hoạt động bình thường.
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="0">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/khoe-manh-ngu-day.jpg" alt="SỨC KHỎE ĐẾN TỪ GIẤC NGỦ SÂU">
                    </div>

                    <div class="col-md-9">
                        <h3 style="padding-top: 1em;"><span class="label label-info" style="border-radius: 40px;">SỨC KHỎE ĐẾN TỪ GIẤC NGỦ SÂU</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Chính từ mỗi đêm ngon giấc, sức khỏe sẽ được cải thiện vô cùng đáng kể nhờ các thành phần thiên nhiên an thần tuần hoàn khắp mạch máu, lưu thông giãn cốt. Từ từ chút một, nhờ giấc ngủ thấm sâu mà khi dậy không bị mệt mỏi hay khô khan, sức khỏe của bạn và người thân sẽ được cải thiện mỗi ngày.
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="200">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/thanh-loc-gan.jpg" alt="THANH LỌC CƠ THỂ, GIẢI ĐỘC MÁT GAN">
                    </div>

                    <div class="col-md-9">
                        <h3 style="padding-top: 1em;"><span class="label label-info" style="border-radius: 40px;">THANH LỌC CƠ THỂ, GIẢI ĐỘC MÁT GAN</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            100% thành phần tinh hoa đất trời chính là bí quyết để xóa tan nỗi lo cho người có hệ thống nội tiết đang hoạt động bất thường. Cụ thể với những bạn hay nóng trong người, mụn nội tiết thường xuyên, làn da xám xuất hiện nhiều nếp nhăn, béo bụng,... chính là những biểu hiện cho thấy gan đang hoạt động thiếu hiệu quả. Trà ngủ ngon Bình Chi sẽ dần giảm bớt độc tố qua các lần lọc gan khi cơ thể con người đang ngủ say. 
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="400">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/tac-hai-thuoc-ngu.jpg" alt="TẠM BIỆT TÁC DỤNG PHỤ THUỐC TÂY">
                    </div>

                    <div class="col-md-9">
                        <h3 style="padding-top: 1em;"><span class="label label-info" style="border-radius: 40px;">TẠM BIỆT TÁC DỤNG PHỤ THUỐC TÂY</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Thuốc ngủ chưa bao giờ là giải pháp tối ưu và an toàn. Để đánh đổi lại yếu tố nhanh chóng, bạn sẽ mất đi sự tự do và sức khỏe trong giấc ngủ. Cụ thể hơn, cơ thể sẽ bị dựa dẫm vào chất hóa học, gây ức chế thần kinh và sinh ra cảm giác lệ thuộc. Cơ thể sinh ra kháng thể để chống chọi thuốc ngủ, biểu hiện ra ngoài cơ thể là sự kém hấp thụ, xanh xao, thiếu nước và mệt mỏi khi tỉnh dậy. Trà ngủ ngon với hoàn toàn các vị thuốc quý Đông Y an toàn, sẽ không đi vào những vết xe như vậy. 
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="600">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/lieu-trinh-don-gian.jpg" alt="LIỆU TRÌNH ĐƠN GIẢN">
                    </div>

                    <div class="col-md-9">
                        <h3 style="padding-top: 1em;"><span class="label label-info" style="border-radius: 40px;">LIỆU TRÌNH ĐƠN GIẢN</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Uống trà trước khi đi ngủ, còn gì để nói? Một ngụm trà ấm, vị ngọt thanh dịu sẽ dần lan tỏa cơ thể đem lại sức sống thư thái, một niềm tin mỗi sáng thức dậy khỏe mạnh. Tùy vào cơ địa mỗi người sẽ có hiệu quả khác nhau, nhưng trung bình sau 20 ngày sử dụng trà thảo mộc, trước tiên là giấc ngủ sâu lắng, sau đó là cảm giác thèm ăn sẽ trở lại với bạn.  
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row" data-animation="fadeIn" data-animation-delay="800">
                    <div class="col-md-3">
                        <img class="img-responsive center vienanh" style="border-radius: 10px;" src="{{ site.url }}/media/images/homepage/suc-khoe-gia-dinh.jpg" alt="LIỆU PHÁP AN TOÀN CHO NGƯỜI THÂN VÀ BẠN BÈ">
                    </div>

                    <div class="col-md-9">
                        <h3 style="padding-top: 1em;"><span class="label label-info" style="border-radius: 40px;">LIỆU PHÁP AN TOÀN CHO NGƯỜI THÂN VÀ BẠN BÈ</span></h3>
                        <blockquote style="text-align: justify;font-size: 17px;">
                            Vì một sức khỏe xanh không chỉ cho riêng bạn, những giá trị cốt lõi Bình Chi trà ngủ ngon mang đến cho bạn cũng chính là những điều chúng tôi muốn gửi đến cho cộng đồng mọi người xung quanh, từ những gói trà thơm bé nhỏ thay đổi cuộc sống mỗi ngày.
                        </blockquote>
                    </div>
                </div>
                <br>
            </div>
        </section>


        <!-- ABOUT PRODUCTS -->
        <section id="section2" class="daimau">
            <div class="container">

                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2  style="font-weight: 600;">KHÁCH HÀNG KHUYÊN DÙNG</h2>
                </div>

                <div class="row">
                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="0">
                        <figure><img class="img-responsive center vienanh" style="width: 80%;border-radius: 40px;" src="{{ site.url }}/media/images/homepage/mat-ngu.jpg" alt="NGƯỜI BỊ MẤT NGỦ, NGỦ KHÔNG NGON, KHÔNG SÂU GIẤC" class="m-b-20"></figure>
                        <br><h4 class="center" style="width: 80%;color: #fff;">NGƯỜI BỊ MẤT NGỦ, NGỦ KHÔNG NGON, KHÔNG SÂU GIẤC</h4>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="300">
                        <figure><img class="img-responsive center vienanh" style="width: 80%;border-radius: 40px;" src="{{ site.url }}/media/images/homepage/nguoi-cao-tuoi-mat-ngu.JPG" alt="NGƯỜI CAO TUỔI" class="m-b-20"></figure>
                        <br><h4 class="center" style="width: 80%;color: #fff;">NGƯỜI CAO TUỔI</h4>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="600">
                        <figure><img class="img-responsive center vienanh" style="width: 80%;border-radius: 40px;" src="{{ site.url }}/media/images/homepage/mat-ngu-do-thuoc.jpg" alt="NGƯỜI MẤT NGỦ DO TÁC DỤNG PHỤ CỦA THUỐC" class="m-b-20"></figure>
                        <br><h4 class="center" style="width: 80%;color: #fff;">NGƯỜI MẤT NGỦ DO TÁC DỤNG PHỤ CỦA THUỐC</h4>
                    </div>
                </div>

                <br><br>

                <div class="row">
                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="0">
                        <figure><img class="img-responsive center vienanh" style="width: 80%;border-radius: 40px;" src="{{ site.url }}/media/images/homepage/nguoi-hay-uong-ruou-bia.jpg" alt="NGƯỜI HAY UỐNG RƯỢU BIA" class="m-b-20"></figure>
                        <br><h4 class="center" style="width: 80%;color: #fff;">NGƯỜI HAY UỐNG RƯỢU BIA</h4>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="300">
                        <figure><img class="img-responsive center vienanh" style="width: 80%;border-radius: 40px;" src="{{ site.url }}/media/images/homepage/lam-viec-cang-thang.jpg" alt="NGƯỜI LÀM VIỆC CĂNG THẲNG, ĐẦU ÓC MỆT MỎI" class="m-b-20"></figure>
                        <br><h4 class="center" style="width: 80%;color: #fff;">NGƯỜI LÀM VIỆC CĂNG THẲNG, ĐẦU ÓC MỆT MỎI</h4>
                    </div>

                    <div class="col-md-4 text-center anhnang" data-animation="fadeIn" data-animation-delay="600">
                        <figure><img class="img-responsive center vienanh" style="width: 80%;border-radius: 40px;" src="{{ site.url }}/media/images/homepage/mun-noi-tiet.jpg" alt="THANH THIẾU NIÊN NÓNG TRONG NGƯỜI, MỤN NHỌT, BÉO BỤNG" class="m-b-20"></figure>
                        <br><h4 class="center" style="width: 80%;color: #fff;">THANH THIẾU NIÊN NÓNG TRONG NGƯỜI, MỤN NHỌT, BÉO BỤNG</h4>
                    </div>
                </div>

            </div>
        </section>
        <!-- end: ABOUT PRODUCTS -->

        <!--call-to-action colored background -->
        <div class="call-to-action call-to-action-colored" style="margin-bottom: 0px;background-color: #0286a8;padding: 15px 0 0px;">
            <div class="col-md-10" style="padding: 0 0 0 60px;">
                <h3>Hơn <span style="font-size: 50px;">1500+</span> nhà thuốc phân phối <span>TRÀ NGỦ NGON</span> trên khắp toàn quốc</h3>
                <p>Đặt mua ngay hôm nay để có được giá cả tốt nhất cho bạn và người thân của mình!</p>
            </div>
            <div class="col-md-2" style="padding: 0 0 0 0;">
                <center><a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn btn-light btn-outline">ĐẶT MUA!</a></center>
            </div>
        </div>

        <!--END: call-to-action colored background -->


        <!-- BLOG -->
        <section>
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2  style="font-weight: 600;">TIN TỨC MỚI NHẤT</h2>
                    <!--span class="lead text-colors">Trà Ngủ Ngon - Cho Giấc Ngủ Say Nồng</span-->
                </div>
                <!-- CATEGORIES -->
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/benh-mat-ngu/"><h4 class="widget-title-custom"><custom>BỆNH MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.benh-mat-ngu limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
    
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/dieu-tri-mat-ngu/"><h4 class="widget-title-custom"><custom>PHƯƠNG PHÁP TRỊ MẤT NGỦ</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.dieu-tri-mat-ngu limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <a href="{{ site.url }}/mat-ngu-sau-sinh/"><h4 class="widget-title-custom"><custom>PHỤ NỮ MẤT NGỦ SAU SINH</custom></h4></a>
                        </div>
                        <div id="post-thumbnail-list">
                            {% for post in site.categories.mat-ngu-sau-sinh limit:3 %}
                            <div class="post-thumbnail-entry">
                                <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                                <div class="post-thumbnail-content">
                                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                    <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                    <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                                </div>    
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- end: CATEGORIES -->
            </div>
        </section>
        <!-- end: BLOG -->

        <section style="background-image: url({{ site.url }}/media/images/homepage/bg-about-us.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <img class="img-responsive center" style="width: 45%;" src="{{ site.url }}/media/images/logo-tanbinhchi.png" alt="Tân Bình Chi">
                    </div>

                    <div class="col-md-8">
                        <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                            <h2><b style="color: #fff;">VỀ CHÚNG TÔI</b></h2>
                        </div>
                        <div data-animation="fadeInUp">
                            <i><blockquote style="color: #fff;text-align: justify;font-size: 15px;"><strong>Công Ty Cổ Phần Tân Bình Chi</strong> mang sứ mệnh cung cấp những giải pháp, giá trị lâu dài - an toàn cho sức khỏe. Sản phẩm xanh vì sức khỏe của chúng tôi cũng vậy. Mỗi ngày, một chút một, tạo lập những thói quen tốt, sống gần gũi với thiên nhiên.</blockquote></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

