<div class="row">
	<p><a href="https://www.mageplaza.com/magento-2-one-step-checkout-extension/">Magento 2 One Step Checkout</a> extension by Mageplaza helps reduce the abandonment rate as well as increase the conversion rate dramatically. Ignore the back and forth that are the redundant motions when standing on your site.</p>
	<p>
		<a href="https://www.mageplaza.com/magento-2-layered-navigation-extension/">Magento 2 Layered Navigation extension</a> brings a list of filters to help your customers search and get the favourite products in the shortest way.
	</p>
</div>