<!---- Fomr đặt mua --->
<div class="modal fade" id="modaldatmua2" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title" id="modal-label" style="text-align: center;">ĐẶT MUA NGAY HÔM NAY ĐỂ NHẬN ĐƯỢC NHIỀU ƯU ĐÃI LÊN ĐẾN 50%</h4>
            </div>
            <div class="modal-body">
                <div class="contact-widget">

                    <div class="contact-form-result"></div>
        
                    <form class="contact-form" name="template-contactform" action="https://script.google.com/macros/s/AKfycbyFmQzMRmEyCC5_RsPz7yrFQDLCvf7evF7Hxq2yA1Kg5aguDtk/exec" role="form" method="post">
                        <div class="form-process"></div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="name">Họ và Tên <small>*</small></label>
                                <input type="text" aria-required="true" name="Họ và Tên" class="form-control required name" placeholder="Nhập họ và tên">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email">Địa chỉ Email</label>
                                <input type="email" aria-required="true" name="Email" class="form-control email" placeholder="Nhập địa chỉ Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label class="upper" for="phone">Số Điện Thoại <small>*</small></label>
                                    <input type="text" class="form-control required" name="Số điện thoại" placeholder="Nhập số điện thoại" id="phone" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label class="upper" for="company">Số lượng <small>*</small></label>
                                    <input type="text" class="form-control required" name="Số lượng" placeholder="Nhập số lượng" id="Số lượng" aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Địa chỉ <small>*</small></label>
                            <textarea type="text" name="Địa chỉ" class="form-control required" placeholder="Nhập địa chỉ" aria-required="true"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="upper" for="comment">Ghi chú</label>
                            <textarea type="text" name="Ghi chú" placeholder="Nhập ghi chú" class="form-control" aria-required="true"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-light btn-block" name="Đặt mua" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i> GỬI</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!---- Fomr tư vấn bệnh mất ngủ --->
<div class="modal fade" id="modaltuvan" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title" id="modal-label" style="text-align: center;">TƯ VẤN BỆNH MẤT NGỦ TỪ CHUYÊN GIA</h4>
            </div>
            <div class="modal-body">
                <div class="contact-widget">

                    <div class="contact-form-result"></div>
        
                    <form class="contact-form" name="template-contactform" action="https://script.google.com/macros/s/AKfycbyFmQzMRmEyCC5_RsPz7yrFQDLCvf7evF7Hxq2yA1Kg5aguDtk/exec" role="form" method="post">
                        <div class="form-process"></div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="name">Họ và Tên <small>*</small></label>
                                <input type="text" aria-required="true" name="Họ và Tên" class="form-control required name" placeholder="Nhập họ và tên">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email">Địa chỉ Email</label>
                                <input type="email" aria-required="true" name="Email" class="form-control email" placeholder="Nhập địa chỉ Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label class="upper" for="phone">Số Điện Thoại <small>*</small></label>
                                    <input type="text" class="form-control required" name="Số điện thoại" placeholder="Nhập số điện thoại" id="phone" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label class="upper" for="company">Số lượng <small>*</small></label>
                                    <input type="text" class="form-control required" name="Số lượng" placeholder="Nhập số lượng" id="Số lượng" aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Địa chỉ <small>*</small></label>
                            <textarea type="text" name="Địa chỉ" class="form-control required" placeholder="Nhập địa chỉ" aria-required="true"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="upper" for="comment">Ghi chú</label>
                            <textarea type="text" name="Ghi chú" placeholder="Nhập ghi chú" class="form-control" aria-required="true"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-light btn-block" name="Đặt mua" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i> GỬI</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!---- Fomr đăng ký mua --->
<!--div id="modaldatmua" class="modal no-padding" data-delay="2000" style="max-width: 700px;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title" id="modal-label" style="text-align: center;">ĐẶT MUA NGAY HÔM NAY ĐỂ NHẬN ĐƯỢC NHIỀU ƯU ĐÃI LÊN ĐẾN 50%</h4>
    </div>
    <div class="modal-body">
        <div class="contact-widget">

            <div class="contact-form-result"></div>

            <form class="contact-form" name="template-contactform" action="https://script.google.com/macros/s/AKfycbyFmQzMRmEyCC5_RsPz7yrFQDLCvf7evF7Hxq2yA1Kg5aguDtk/exec" role="form" method="post">
                <div class="form-process"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="name">Họ và Tên <small>*</small></label>
                            <input type="text" class="form-control required" name="Họ và Tên" placeholder="Nhập họ và tên" id="name" aria-required="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="email">Địa chỉ Email <small>*</small></label>
                            <input type="email" class="form-control required email" name="Email" placeholder="Nhập địa chỉ Email" id="email" aria-required="true    ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="phone">Số Điện Thoại <small>*</small></label>
                            <input type="text" class="form-control required" name="Số điện thoại" placeholder="Nhập số điện thoại" id="phone" aria-required="   true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="company">Vấn đề của bạn <small>*</small></label>
                            <input type="text" class="form-control required" name="Bệnh lý" placeholder="Mô tả vấn đề" id="company" aria-required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="upper" for="comment">Mô tả chi tiết vấn đề <small>*</small></label>
                            <textarea class="form-control required" name="Tình trạng" rows="9" placeholder="Nhập mô tả bệnh lý" id="comment" aria-required="true    "></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <button class="btn btn-default btn-block" name="Tư vấn" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;GỬI</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalShop" class="modal no-padding" data-delay="2000" style="max-width: 700px;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title" id="modal-label" style="text-align: center;">TƯ VẤN BỆNH MẤT NGỦ TỪ CHUYÊN GIA</h4>
    </div>
    <div class="modal-body">
        <div class="contact-widget">

            <div class="contact-form-result"></div>

            <form class="contact-form" name="template-contactform" action="https://script.google.com/macros/s/AKfycbyFmQzMRmEyCC5_RsPz7yrFQDLCvf7evF7Hxq2yA1Kg5aguDtk/exec" role="form" method="post">
                <div class="form-process"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="name">Họ và Tên <small>*</small></label>
                            <input type="text" class="form-control required" name="Họ và Tên" placeholder="Nhập họ và tên" id="name" aria-required="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="email">Địa chỉ Email <small>*</small></label>
                            <input type="email" class="form-control required email" name="Email" placeholder="Nhập địa chỉ Email" id="email" aria-required="true    ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="phone">Số Điện Thoại <small>*</small></label>
                            <input type="text" class="form-control required" name="Số điện thoại" placeholder="Nhập số điện thoại" id="phone" aria-required="   true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="upper" for="company">Vấn đề của bạn <small>*</small></label>
                            <input type="text" class="form-control required" name="Bệnh lý" placeholder="Mô tả vấn đề" id="company" aria-required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="upper" for="comment">Mô tả chi tiết vấn đề <small>*</small></label>
                            <textarea class="form-control required" name="Tình trạng" rows="9" placeholder="Nhập mô tả bệnh lý" id="comment" aria-required="true    "></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <button class="btn btn-default btn-block" name="Tư vấn" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;GỬI</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div-->


<!--Start of Tawk.to Script-->
<!--script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c000e18fd65052a5c9314b8/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->




<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="849216075261360"
  theme_color="#113f5f"
  logged_in_greeting="Xin chào! Chúng tôi có thể giúp gì được cho bạn về sản phẩm Trà Ngủ Ngon ạ?"
  logged_out_greeting="Xin chào! Chúng tôi có thể giúp gì được cho bạn về sản phẩm Trà Ngủ Ngon ạ?">
</div>