        <!-- Header -->
        <header id="header" class=" header-mini header-sticky-resposnive">
            
            <div id="header-wrap" style="background-color: #103f5d;border-bottom: 1px solid #fdc949;">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="{{ site.url }}" class="logo" data-dark-logo="{{ site.url }}/media/images/logo-trangungon.com.png">
                            <img src="{{ site.url }}/media/images/logo-trangungon.com.png" alt="Logo Trà Ngủ Ngon">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Top Search Form-->
                    <div id="top-search">
                        <form action="search-results-page.html" method="get">
                            <input type="text" name="q" class="form-control" value="" placeholder="Nhập từ khóa tìm kiếm...">
                        </form>
                    </div>
                    <!--end: Top Search Form-->
                    

                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="menu-one-page menu-center menu-lines">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}">TRANG CHỦ</a></li>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="#gioithieu">GIỚI THIỆU</a></li>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="#thanhphan">THÀNH PHẦN</a></li>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="#phanhoi">PHẢN HỒI NHÀ THUỐC</a></li>
                                    <!--li><a href="#giaidap">GIẢI ĐÁP THẮC MẮC</a></li-->
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="#banggia">GIÁ BÁN</a></li>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;background-color: #0286a8;" href="#datmua" class="btn btn-outline btn-rounded">MUA NGAY <span class="label label-danger">SALE</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->

                </div>
            </div>
        </header>
        <!-- end: Header -->

        <style type="text/css">
            .#mainMenu.menu-lines nav>ul>li:hover>a{
                color: #000;
            }
        </style>