                            <nav>
                                <ul>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}">Trang chủ</a></li>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/san-pham/">Sản phẩm <span class="label label-danger">SALE</span></a></li>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/khach-hang/">Khách hàng</a></li>
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/tu-van-suc-khoe/">Tư Vấn Sức Khỏe</a></li>
                                    <li class="dropdown"><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/tin-tuc/">Thông Tin Bệnh</a>
                                        <ul class="dropdown-menu">
                                            <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/benh-mat-ngu/">BỆNH MẤT NGỦ</a></li>
                                            <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/dieu-tri-mat-ngu/">PHƯƠNG PHÁP TRỊ MẤT NGỦ</a></li>
                                            <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/mat-ngu-sau-sinh/">MẤT NGỦ Ở PHỤ NỮ SAU SINH</a></li>
                                        </ul>
                                    </li> 
                                    <li><a style="font-family: Trangungon1 !important;font-size: 23px;color: #fdc949;" href="{{ site.url }}/lien-he/">Liên hệ</a></li>
                                </ul>
                            </nav>