<!-- Company -->
<script type="application/ld+json">{
  "@context": "http://schema.org",
    "@type": "Organization",
  "@id":"https://trangungon.com/",
  "name": "Tân Bình Chi",
  "url": "https://trangungon.com/",
  "logo": "https://trangungon.com/media/images/logo-trangungon.com.png",
    "image":"https://trangungon.com/media/images/logo-trangungon.com.png", 
  "email": "info@tanbinhchi.vn",
     "founder": "Nguyễn Trọng Huỳnh",
     "address": [{
      "@type": "PostalAddress",
      "addressLocality": "Thanh Xuân",
        "addressCountry": "Vietnam",
      "addressRegion": "Hà Nội",
      "postalCode":"100000",
        "streetAddress": "Vương Thừa Vũ, Thanh Xuân, Hà Nội"
     },
     "description": "Tân Bình Chi - Sứ Mệnh Sức Khỏe Xanh",
    "telephone": "+84 93 987 8282",
  "sameAs" : [ 
    "https://www.facebook.com/tanbinhchi/",
    "https://www.linkedin.com/in/tanbinhchi/",
    "https://www.youtube.com/channel/UCWA6MwK6ceXGoiulZ_B4j5w",
    "https://twitter.com/tanbinhchi",
    "https://www.instagram.com/tanbinhchi/"]
}
</script>


<script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Nguyễn Trọng Huỳnh",
  "jobTitle": "CEO",
  "image":"https://nguyentronghuynh.com/images/avatar/my-avatar.jpg",
  "worksFor":"Tân Bình Chi",
  "url": "https://www.mageplaza.com",
  "sameAs":["https://nguyentronghuynh.com",
  "https://www.facebook.com/truongnq2306"
  ],
  "address": {
  "@type": "PostalAddress",
  "addressLocality": "Ha Noi",
  "streetAddress": "Vương Thừa Vũ, Thanh Xuân, Hà Nội",
  "addressRegion": "Vietnam"
  }}</script>


<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "WebSite",
"url": "https://trangungon.com/",
"potentialAction": {
"@type": "SearchAction",
"target": "https://trangungon.com/search/?q={search_term_string}",
"query-input": "required name=search_term_string"
}
}
</script>