    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

    <!--Plugins-->
    <script src="{{ site.url }}/assets/js/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/plugins.js"></script>

    <!--Template functions-->
    <script src="{{ site.url }}/assets/js/functions.js"></script>

    <!--Particles-->
    <script src="{{ site.url }}/assets/js/plugins/components/particles.js"></script>
    <script src="{{ site.url }}/assets/js/plugins/components/particles-animation.js"></script>

        <!-- External JavaScripts
    ============================================= -->
    <script src="{{ site.url }}/assets/custom/jquery.js"></script>
    <script src="{{ site.url }}/assets/custom/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="{{ site.url }}/assets/custom/functions.js"></script>