<!-- SECTION IMAGE FULLSCREEN -->
<section class="parallax text-light fullscreen" style="height: 100%; background: url('{{ site.url }}/media/images/slider/banner-trangungon-2.jpg');background-repeat: no-repeat;background-size: cover;" data-stellar-background-ratio="0.5">
	<div class="container container-fullscreen">
        <div class="text-middle text-center text-light">
            <h1 class="text-uppercase text-large hit-the-floor" style="margin-bottom: 10px;">{{ site.name }}</h1>
            <p class="lead" style="font-size: 25px;">
            	<strong>NGỦ SÂU TỰ NHIÊN - LƯU THÔNG KHÍ HUYẾT - CHẤM DỨT CĂNG THẲNG - XOA DỊU AN THẦN </strong><br><br>
                <strong style="color: #0286a8;padding: 5px 10px 5px 10px;background-color: #fff;border-radius: 25px;">TƯ VẤN MẤT NGỦ</strong><br style="line-height: 2.2;">
            	<a href="tel:0939878282"><i class="fa fa-phone-square"></i> <b style="color: #fdc849;">093.987.8282</b></a>
            </p>
			<a data-target="#modaltuvan" data-toggle="modal" href="#" class="btn">TƯ VẤN</a> <a data-target="#modaldatmua2" data-toggle="modal" href="#" class="btn">ĐẶT MUA</a>
        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->

