        <!-- Topbar -->
        <div id="topbar" class="topbar-transparent topbar-fullwidth visible-md visible-lg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="top-menu">
                            <li><a href="tel:0939878282">Phone: 093 987 82 82</a></li>
                            <li><a href="mailto:info@tanbinhchi.vn">Email: info@tanbinhchi.vn</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <div class="social-icons social-icons-colored-hover">
                            <ul>
                                <li class="social-facebook"><a href="https://www.facebook.com/trangungonbinhchi"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Topbar -->